<div class="app-inner-layout">
	<section class="content">
		<div class="row">
			<div class="col-lg-2 mb-3">
				<ul id="settings" class="sub-menu-wrap">
					<li class="sub-menu-item" [ngClass]="activeModule == 'permisiuni-list' ? 'active' : ''"
						(click)="changeLocation('permisiuni-list')">Permisiuni</li>
					<li class="sub-menu-item" [ngClass]="activeModule == 'permisiuni-actiuni-list' ? 'active' : ''"
						(click)="changeLocation('permisiuni-actiuni-list')">Permisiuni Actiuni</li>
					<li class="sub-menu-item" [ngClass]="activeModule == 'cronuri-list' ? 'active' : ''"
						(click)="changeLocation('cronuri-list')">
						Cronuri</li>
				</ul>
			</div>
			<div class="col-lg-10 p-3 bg-white">

				<permisiuni *ngIf="activeModule == 'permisiuni-list'">
				</permisiuni>

				<actiuni-permisiuni *ngIf="activeModule == 'permisiuni-actiuni-list'">
				</actiuni-permisiuni>

				<cronuri *ngIf="activeModule == 'cronuri-list'">
				</cronuri>

			</div>
		</div>
	</section>
</div>