<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">
  <div class="col-md-6">
    <div class="card main-card mb-3">
      <div class="card-header">
        Basic
      </div>
      <div class="card-body">
        <div class="button-row">
          <button class="mr-2 mb-2" mat-button>Basic</button>
          <button class="mr-2 mb-2" mat-button color="primary">Primary</button>
          <button class="mr-2 mb-2" mat-button color="accent">Accent</button>
          <button class="mr-2 mb-2" mat-button color="warn">Warn</button>
          <button class="mr-2 mb-2" mat-button disabled>Disabled</button>
          <a class="mr-2 mb-2" mat-button routerLink=".">Link</a>
        </div>
      </div>
    </div>
    <div class="card main-card mb-3">
      <div class="card-header">
        Raised buttons
      </div>
      <div class="card-body">
        <div class="button-row">
          <button class="mr-2 mb-2" mat-raised-button>Basic</button>
          <button class="mr-2 mb-2" mat-raised-button color="primary">Primary</button>
          <button class="mr-2 mb-2" mat-raised-button color="accent">Accent</button>
          <button class="mr-2 mb-2" mat-raised-button color="warn">Warn</button>
          <button class="mr-2 mb-2" mat-raised-button disabled>Disabled</button>
          <a class="mr-2 mb-2" mat-raised-button routerLink=".">Link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card main-card mb-3">
      <div class="card-header">
        Icon buttons
      </div>
      <div class="card-body">
        <div class="button-row">
          <button class="mr-2 mb-2" mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <button class="mr-2 mb-2" mat-icon-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <button class="mr-2 mb-2" mat-icon-button color="accent">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <button class="mr-2 mb-2" mat-icon-button color="warn">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <button class="mr-2 mb-2" mat-icon-button disabled>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="card main-card mb-3">
      <div class="card-header">
        Fab Buttons
      </div>
      <div class="card-body">
        <div class="button-row">
          <button class="mr-2 mb-2" mat-fab>Basic</button>
          <button class="mr-2 mb-2" mat-fab color="primary">Primary</button>
          <button class="mr-2 mb-2" mat-fab color="accent">Accent</button>
          <button class="mr-2 mb-2" mat-fab color="warn">Warn</button>
          <button class="mr-2 mb-2" mat-fab disabled>Disabled</button>
          <button class="mr-2 mb-2" mat-fab>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <a class="mr-2 mb-2" mat-fab routerLink=".">Link</a>
        </div>
      </div>
    </div>
    <div class="card main-card mb-3">
      <div class="card-header">
        Mini Fab Buttons
      </div>
      <div class="card-body">
        <div class="button-row">
          <button class="mr-2 mb-2" mat-mini-fab>Basic</button>
          <button class="mr-2 mb-2" mat-mini-fab color="primary">Primary</button>
          <button class="mr-2 mb-2" mat-mini-fab color="accent">Accent</button>
          <button class="mr-2 mb-2" mat-mini-fab color="warn">Warn</button>
          <button class="mr-2 mb-2" mat-mini-fab disabled>Disabled</button>
          <button class="mr-2 mb-2" mat-mini-fab>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <a class="mr-2 mb-2" mat-mini-fab routerLink=".">Link</a>
        </div>
      </div>
    </div>
  </div>
</div>