<form>

    <div class="row" *ngFor="let row of values.informatii.imputerniciti; let i = index">

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.nume" name="nume" matInput placeholder="Nume" [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.prenume" name="prenume" matInput placeholder="Prenume"
                    [errorStateMatcher]="matcher" type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.email" name="email" matInput placeholder="Email" [errorStateMatcher]="matcher"
                    type="email">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.telefon" name="telefon" matInput placeholder="Telefon"
                    [errorStateMatcher]="matcher" type="tel">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.cnp" name="cnp" matInput placeholder="CNP" [errorStateMatcher]="matcher"
                    type="number">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.ci_serie" name="ci_serie" matInput placeholder="CI Serie "
                    [errorStateMatcher]="matcher" type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.ci_numar" name="ci_numar" matInput placeholder="CI Număr"
                    [errorStateMatcher]="matcher" type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <mat-select matSelect [(ngModel)]="judet" placeholder="Judet" name="judet">
                    <mat-option value="{{val.id}}" *ngFor="let val of judete">{{val.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.oras" name="oras" matInput placeholder="Oras/Municipiu/Comuna"
                    [errorStateMatcher]="matcher" type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <mat-select matSelect [(ngModel)]="row.sector" placeholder="Sector" name="sector">
                    <mat-option value="{{val.id}}" *ngFor="let val of sectoare">{{val.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.strada" name="strada" matInput placeholder="Strada" [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-4 col-lg-2">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.numar" name="numar" matInput placeholder="Nr." [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-4 col-lg-2">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.scara" name="scara" matInput placeholder="Sc" [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-4 col-lg-2">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.etaj" name="etaj" matInput placeholder="Etaj" [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-4 col-lg-2">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.apartament" name="apartament" matInput placeholder="Ap"
                    [errorStateMatcher]="matcher" type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <textarea [(ngModel)]="row.observatii" name="observatii" matInput placeholder="Observații împuternicit/Mandatar"
                    [errorStateMatcher]="matcher" matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>

        <!-- <div class="col-sm-12">
            <button type="button" (click)="removeRow(i)"
                class="mb-2 mr-2 btn-transition float-right btn-lg btn btn-outline-danger">
                STERGE
            </button>
        </div> -->

    </div>

    <!-- add button please -->
    <!-- <div class="col-sm-12">
        <button type="button" (click)="addNewRow()"
            class="mb-2 mr-2 btn-transition float-right btn-lg btn btn-outline-primary">
            ADAUGA
        </button>
    </div> -->

</form>