<form class="row">
    <div class="col-sm-12">
        <h5 class="full-width sub-section-title">Informații Notar</h5>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.notar.denumire" name="denumire" matInput placeholder="Denumire"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>


    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.notar.email" name="email" matInput placeholder="Email" [errorStateMatcher]="matcher"
                type="email">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.notar.telefon" name="telefon" matInput placeholder="Telefon" [errorStateMatcher]="matcher"
                type="tel">
        </mat-form-field>
    </div>


    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <mat-select matSelect [(ngModel)]="values.notar.judet" placeholder="Judet" name="judet">
                <mat-option value="{{val.id}}" *ngFor="let val of judete">{{val.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.notar.oras" name="oras" matInput placeholder="Oras/Municipiu/Comuna"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <mat-select matSelect [(ngModel)]="values.notar.sector" placeholder="Sector" name="sector">
                <mat-option value="{{val.id}}" *ngFor="let val of sectoare">{{val.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.notar.strada" name="strada" matInput placeholder="Strada" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.notar.numar" name="numar" matInput placeholder="Nr." [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.notar.scara" name="scara" matInput placeholder="Sc" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.notar.etaj" name="etaj" matInput placeholder="Etaj" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.notar.apartament" name="apartament" matInput placeholder="Ap" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <textarea [(ngModel)]="values.notar.observatii" name="observatii" matInput placeholder="Observații"
                [errorStateMatcher]="matcher" matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
    </div>

</form>