<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="card main-card mb-3">
  <div class="card-header">
    Basic
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput value="Disco party!" placeholder="Message" #message>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput value="Dance" placeholder="Action" #action>
        </mat-form-field>
      </div>
    </div>
    <div class="divider"></div>
    <div class="text-center">
      <button mat-raised-button color="warn" (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>
    </div>
  </div>
</div>