<form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="w-100">
	<div class="form-group">
		<label for="title"><strong>Titlu</strong></label>
		<input formControlName="title" type="text" name="title" class="form-control w-100">
		<span class="text-danger pt-3"
			*ngIf="(addFormControl.title.touched || submitted) && addFormControl.title.errors?.required ">
			Titlul este obligatoriu
		</span>
	</div>

	<div class="form-group">
		<label for="slug"><strong>Slug</strong></label>
		<input formControlName="slug" type="text" name="slug" class="form-control w-100">
		<span class="text-danger pt-3"
			*ngIf="(addFormControl.slug.touched || submitted) && addFormControl.slug.errors?.required ">
			Slug este obligatoriu
		</span>
	</div>

	<div class="form-group">
		<label for="sectiune"><strong>Sectiune</strong></label>
		<select name="sectiune" class="form-control w-100" formControlName="sectiune_id">
			<option *ngFor="let sectiune of data.mobileSections" value="{{sectiune.id}}">{{ sectiune.name }}
			</option>
		</select>
	</div>
	<div class="form-group">
		<label for="content"><strong>Continut</strong></label>
		<editor formControlName="content" apiKey="qezjtxhis2t6campgcgs840r34i82atufabgrwclq9fgfwtx" [init]="{
			height: 500,
			menubar: false,
			plugins: [
			'advlist autolink lists link image charmap print preview anchor',
			'searchreplace visualblocks code fullscreen',
			'insertdatetime media table paste code help wordcount'
			],
			toolbar:
			'undo redo | formatselect | bold italic backcolor | \
			alignleft aligncenter alignright alignjustify | \
			bullist numlist outdent indent | removeformat | help'
			}">
		</editor>
		<span class="text-danger pt-3"
			*ngIf="(addFormControl.content.touched || submitted) && addFormControl.content.errors?.required ">
			Continutul este obligatoriu
		</span>
	</div>

	<div class="form-group d-flex flex-row justify-content-between">
		<button type="button" mat-button mat-dialog-close class="btn btn-warning" (click)="cancel()">Inchide</button>
		<button type="submit" mat-button class="btn btn-success">Adauga</button>
	</div>
</form>