<div class="app-inner-layout">
	<div class="app-inner-layout__header bg-amy-crisp">
		<div class="app-page-title">
			<div class="page-title-wrapper">
				<div class="page-title-heading">
					<div class="page-title-icon">
						<i class="fa fa-fw fa-cog icon-gradient bg-amy-crisp"></i>
					</div>
					<div class="text-white">
						Setări
						<div class="page-title-subheading">
							Vizualizare și actualizare date personale, program de lucru cât și parola contului
						</div>
					</div>
				</div>
				<div class="page-title-actions">
				</div>
			</div>
		</div>
	</div>
	<div class="row w-100 mt-5">

		<div class="col-sm-12">
			<div class="row">

				<div class="col-sm-12 col-lg-6">
					<div class="mb-3 card">
						<div class="card-header-tab card-header">
							<div class="card-header-title font-size-lg text-capitalize font-weight-normal">
								<i class="header-icon fa fa-fw fa-user icon-gradient bg-amy-crisp"> </i>
								Informații Personale
							</div>
							<div class="btn-actions-pane-right text-capitalize actions-icon-btn"
								*ngIf="!updateFormShow">
								<button class="btn-transition btn btn-sm btn btn-outline-success"
									(click)="toggleForm()">
									<i class="fa fa-fw fa-pencil"></i> ACTUALIZARE
								</button>
							</div>
						</div>
						<div class="p-0 card-body">
							<div class="p-0 slick-slider-sm mx-auto">
								<div class="widget-content-wrapper">
									<div class="main-card mb-3 card mb-0" *ngIf="!updateFormShow"
										style="margin-bottom: 0 !important;">
										<div class="card-body p-0">
											<ul class="list-group p-0">
												<li class="list-group-item d-flex justify-content-between">
													<span><strong>Clinica</strong></span>
													<span>{{ user.clinic_name }}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between">
													<span><strong>Sectie</strong></span>
													<span>{{ user.field_name }}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between">
													<span><strong>Tip doctor</strong></span>
													<span>{{ user.doctor_type_name }}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between">
													<span><strong>Nume</strong></span>
													<span>{{ user.last_name }}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between">
													<span><strong>Prenume</strong></span>
													<span>{{ user.first_name }}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between">
													<span><strong>CI</strong></span>
													<span>{{ user.ci_serie || 'n/a'}} - {{user.ci_numar ||
														'n/a'}}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between">
													<span><strong>CNP/CUI</strong></span>
													<span>{{ user.cnp }}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between">
													<span><strong>Email</strong></span>
													<span>{{ user.email }}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between">
													<span><strong>Telefon</strong></span>
													<span>{{ user.international_number }}</span>
												</li>
											</ul>
										</div>
									</div>


									<form *ngIf="updateFormShow" [formGroup]="form" (ngSubmit)="updateAccount()"
										class="p-4">

										<!-- add here the form inputs -->
										<!-- nume -->
										<mat-form-field class="example-full-width mt-2 mb-2">
											<input formControlName="last_name" matInput placeholder="Nume"
												[errorStateMatcher]="matcher" type="text" required="required">

											<mat-error class="p-2"
												*ngIf="(last_name.dirty || last_name.touched) && last_name.errors?.required">
												<strong>Câmp obligatoriu</strong>
											</mat-error>
											<mat-error class="p-2"
												*ngIf="(last_name.dirty || last_name.touched) && last_name.errors?.minlength">
												<strong>Minim 8 caractere</strong>
											</mat-error>

											<mat-error class="p-2"
												*ngIf="(last_name.dirty || last_name.touched) && last_name.errors?.maxlength">
												<strong>Maxim 50 caractere</strong>
											</mat-error>
										</mat-form-field>

										<!-- prenume -->
										<mat-form-field class="example-full-width mt-2 mb-2">
											<input formControlName="first_name" matInput placeholder="Prenume"
												[errorStateMatcher]="matcher" type="text" required="required">

											<mat-error class="p-2"
												*ngIf="(first_name.dirty || first_name.touched) && first_name.errors?.required">
												<strong>Câmp obligatoriu</strong>
											</mat-error>
											<mat-error class="p-2"
												*ngIf="(first_name.dirty || first_name.touched) && first_name.errors?.minlength">
												<strong>Minim 8 caractere</strong>
											</mat-error>

											<mat-error class="p-2"
												*ngIf="(first_name.dirty || first_name.touched) && first_name.errors?.maxlength">
												<strong>Maxim 50 caractere</strong>
											</mat-error>
										</mat-form-field>

										<div class="row">
											<div class="col-sm-6">
												<!-- ci_serie -->
												<mat-form-field class="example-full-width mt-2 mb-2">
													<input formControlName="ci_serie" matInput placeholder="CI Serie"
														[errorStateMatcher]="matcher" type="text">
												</mat-form-field>
											</div>
											<div class="col-sm-6">
												<!-- ci_numar -->
												<mat-form-field class="example-full-width mt-2 mb-2">
													<input formControlName="ci_numar" matInput placeholder="CI Numar"
														[errorStateMatcher]="matcher" type="text">
												</mat-form-field>
											</div>
										</div>

										<!-- email -->
										<mat-form-field class="example-full-width mt-2 mb-2">
											<input formControlName="email" matInput placeholder="Email"
												[errorStateMatcher]="matcher" type="email" required="required">

											<mat-error class="p-2"
												*ngIf="(email.dirty || email.touched) && email.errors?.required">
												<strong>Câmp obligatoriu</strong>
											</mat-error>
											<mat-error class="p-2"
												*ngIf="(email.dirty || email.touched) && (email.errors?.email || email.errors?.pattern)">
												<strong>Email invalid</strong>
											</mat-error>
										</mat-form-field>

										<!-- telefon -->
										<mat-form-field class="example-full-width mt-2 mb-2">
											<ngx-mat-intl-tel-input [preferredCountries]="selectedCountry"
												[cssClass]="'custom'" [enablePlaceholder]="true" name="telefon"
												formControlName="telefon" #phone require="required">
											</ngx-mat-intl-tel-input>
											<mat-hint class="p-2">ex: {{phone.selectedCountry.placeHolder}}</mat-hint>
											<mat-error class="p-2" *ngIf="form.controls['telefon']?.errors?.required">
												Câmp
												obligatoriu
											</mat-error>
											<mat-error class="p-2"
												*ngIf="form.controls['telefon']?.errors?.validatePhoneNumber">
												Număr telefon invalid</mat-error>
										</mat-form-field>

										<div class="divider"></div>
										<!-- buttons -->
										<div class=" widget-content-actions d-flex justify-content-between">
											<button type="button" (click)="toggleForm()"
												class="mb-2 mr-2 btn-transition btn btn-lg btn btn-warning">
												ÎNCHIDE
											</button>

											<button type="submit" [disabled]="!form.valid"
												class="mb-2 mr-2 btn-transition btn btn-lg btn btn-success">
												ACTUALIZARE INFORMAȚII
											</button>
										</div>
									</form>

								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-lg-6">
					<div class="mb-3 card">
						<div class="card-header-tab card-header">
							<div class="card-header-title font-size-lg text-capitalize font-weight-normal">
								<i class="header-icon fa fa-fw fa-calendar icon-gradient bg-amy-crisp"> </i>
								Program de lucru
							</div>
						</div>
						<div class="p-0 card-body">
							<div class="slick-slider-sm mx-auto p-4">
								<form [formGroup]="formSchedules" (ngSubmit)="submitSchedule()">
									<div *ngFor="let row of schedules"
										class="mb-3 d-flex justify-content-between border-bottom">
										<label>{{row.day_name}}</label>
										<div>
											<input type="time" formControlName="day_{{row.day}}_from"
												class="border border-success mr-3 shadow p-1 rounded"
												value="{{ row.from }}">

											<input type="time" formControlName="day_{{row.day}}_to"
												class="border border-danger shadow p-1 rounded" value="{{ row.to }}">

											<i class="ml-2 fa fa-fw fa-close icon-gradient bg-danger"
												(click)="clearSchedule(row)" style="font-size:20px"></i>

										</div>
									</div>

									<button type="submit"
										class="mb-2 mr-2 btn-transition btn-block btn-lg btn btn-success">
										ACTUALIZARE
									</button>
								</form>

							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-lg-6">
					<div class="mb-3 card">
						<div class="card-header-tab card-header">
							<div class="card-header-title font-size-lg text-capitalize font-weight-normal">
								<i class="header-icon fa fa-fw fa-cog icon-gradient bg-amy-crisp"> </i>
								Actualizare Parolă
							</div>
						</div>
						<div class="p-0 card-body">
							<div class="slick-slider-sm mx-auto p-4">
								<form [formGroup]="formPasswords" (ngSubmit)="updatePwd()">

									<mat-form-field class="example-full-width mt-2 mb-2">
										<input formControlName="password" matInput placeholder="Parola noua"
											[errorStateMatcher]="matcher" required="required"
											[type]="hide ? 'password' : 'text'">

										<mat-icon matSuffix (click)="hide = !hide">
											{{hide ? 'visibility_off' : 'visibility'}}
										</mat-icon>

										<mat-error class="p-2"
											*ngIf="(password.dirty || password.touched) && password.errors?.required">
											<strong>Câmp obligatoriu</strong>
										</mat-error>
										<mat-error class="p-2"
											*ngIf="(password.dirty || password.touched) && password.errors?.minlength">
											<strong>Minim 8 caractere</strong>
										</mat-error>

										<mat-error class="p-2"
											*ngIf="(password.dirty || password.touched) && password.errors?.maxlength">
											<strong>Max 50 caractere</strong>
										</mat-error>

									</mat-form-field>

									<mat-form-field class="example-full-width mt-2 mb-2">
										<input formControlName="password_confirmation" matInput
											placeholder="Confirmati parola noua" [errorStateMatcher]="matcher"
											required="required" [type]="hide_confirmation ? 'password' : 'text'">

										<mat-icon matSuffix (click)="hide_confirmation = !hide_confirmation">
											{{hide_confirmation ? 'visibility_off' : 'visibility'}}
										</mat-icon>

										<mat-error class="p-2"
											*ngIf="(passwordConfirmation.dirty || passwordConfirmation.touched) && passwordConfirmation.errors?.required">
											<strong>Câmp obligatoriu</strong>
										</mat-error>
										<mat-error class="p-2"
											*ngIf="(passwordConfirmation.dirty || passwordConfirmation.touched) && passwordConfirmation.errors?.minlength">
											<strong>Minim 8 caractere</strong>
										</mat-error>

										<mat-error class="p-2"
											*ngIf="(passwordConfirmation.dirty || passwordConfirmation.touched) && passwordConfirmation.errors?.maxlength">
											<strong>Max 50 caractere</strong>
										</mat-error>

									</mat-form-field>

									<div class="form-group mt-2 mb-2">
										<button type="submit" [disabled]="!formPasswords.valid"
											class="mb-2 mr-2 btn-transition btn-block btn-lg btn btn-success">
											ACTUALIZARE PAROLĂ
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="" *ngIf="loading">
	<ngx-loading [show]="loading"
		[config]="{backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.5)'}"
		[template]="loadingTemplate"></ngx-loading>
	<h4 class="loading-text">Vă rugăm așteptați!</h4>
</div>