<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<ul ngbNav #nav="ngbNav" class=" nav-tabs tabs-animated tabs-animated-shadow">
  <li ngbNavItem>
    <a ngbNavLink><span>Basic Tabs</span></a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-6">
          <div class="card main-card mb-3">
            <div class="card-header">
              Tabset
            </div>
            <div class="card-body">
              <ul ngbNav #nav1="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                  <a ngbNavLink><span>Simple</span></a>
                  <ng-template ngbNavContent>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                      retro synth
                      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                      retro keffiyeh
                      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                      salvia cillum
                      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink><b>Fancy</b> title</a>
                  <ng-template ngbNavContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin
                    coffee squid.
                    <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                      loko farm-to-table
                      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                      ullamco ad vinyl
                      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                      helvetica VHS salvia
                      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                      sustainable jean
                      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                      tumblr butcher vero
                      sint qui sapiente accusamus tattooed echo park.</p>
                  </ng-template>
                </li>
                <li ngbNavItem [disabled]="true">
                  <a ngbNavLink><span>Disabled</span></a>
                  <ng-template ngbNavContent>
                    <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.
                      Nulla facilisi.
                      Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
                      congue et odio.
                      Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et.
                      Sed diam urna,
                      egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
                      nisl enim, nec
                      tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque
                      penatibus et
                      magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                      ultricies in eget neque.
                      Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav1"></div>
            </div>
          </div>
          <div class="card main-card mb-3">
            <div class="card-header">
              Pills
            </div>
            <div class="card-body">
              <ul ngbNav #nav2="ngbNav" class="nav-tabs" type="pills">
                <li ngbNavItem>
                  <a ngbNavLink><span>Simple</span></a>
                  <ng-template ngbNavContent>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                      retro synth
                      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                      retro keffiyeh
                      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                      salvia cillum
                      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink><b>Fancy</b> title</a>
                  <ng-template ngbNavContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin
                    coffee squid.
                    <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                      loko farm-to-table
                      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                      ullamco ad vinyl
                      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                      helvetica VHS salvia
                      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                      sustainable jean
                      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                      tumblr butcher vero
                      sint qui sapiente accusamus tattooed echo park.</p>
                  </ng-template>
                </li>
                <li ngbNavItem title="Disabled" [disabled]="true">
                  <a ngbNavLink><span>Disabled</span></a>
                  <ng-template ngbNavContent>
                    <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.
                      Nulla facilisi.
                      Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
                      congue et odio.
                      Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et.
                      Sed diam urna,
                      egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
                      nisl enim, nec
                      tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque
                      penatibus et
                      magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                      ultricies in eget neque.
                      Phasellus nec tortor vel tellus pulvinar feugiat.
                    </p>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav2"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card main-card mb-3">
            <div class="card-header">
              Justified
            </div>
            <div class="card-body">
              <ul ngbNav #nav3="ngbNav" class="nav-tabs" [justify]="currentJustify">
                <li ngbNavItem>
                  <a ngbNavLink><span>Simple</span></a>
                  <ng-template ngbNavContent>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                      retro synth
                      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                      retro keffiyeh
                      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                      salvia cillum
                      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink><b>Fancy</b> title</a>
                  <ng-template ngbNavContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin
                    coffee squid.
                    <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                      loko farm-to-table
                      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                      ullamco ad vinyl
                      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                      helvetica VHS salvia
                      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                      sustainable jean
                      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                      tumblr butcher vero
                      sint qui sapiente accusamus tattooed echo park.</p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink><span>A very long nav title</span></a>
                  <ng-template ngbNavContent>
                    <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.
                      Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget
                      tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et
                      molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque.
                      Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis.
                      Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient
                      montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque.
                      Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav3"></div>

              <div class="divider"></div>

              <div class="text-center">
                <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentJustify">
                  <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" value="start">Start
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" value="center">Center
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" value="end">End
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" value="fill">Fill
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" value="justified">Justified
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card main-card mb-3">
            <div class="card-header">
              Orientation
            </div>
            <div class="card-body">
              <ul ngbNav #nav4="ngbNav" class="nav-tabs" type="pills" [orientation]="currentOrientation">
                <li ngbNavItem>
                  <a ngbNavLink><span>Simple</span></a>
                  <ng-template ngbNavContent>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                      retro synth
                      master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                      retro keffiyeh
                      dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
                      salvia cillum
                      iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink><b>Fancy</b> title</a>
                  <ng-template ngbNavContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin
                    coffee squid.
                    <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four
                      loko farm-to-table
                      craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                      ullamco ad vinyl
                      cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                      helvetica VHS salvia
                      yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                      sustainable jean
                      shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                      tumblr butcher vero
                      sint qui sapiente accusamus tattooed echo park.</p>
                  </ng-template>
                </li>
                <li ngbNavItem [disabled]="true">
                  <a ngbNavLink><span>Disabled</span></a>
                  <ng-template ngbNavContent>
                    <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.
                      Nulla facilisi.
                      Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
                      congue et odio.
                      Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et.
                      Sed diam urna,
                      egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
                      nisl enim, nec
                      tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque
                      penatibus et
                      magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
                      ultricies in eget neque.
                      Phasellus nec tortor vel tellus pulvinar feugiat.
                    </p>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav4"></div>

              <div class="divider"></div>

              <div class="text-center">
                <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentOrientation">
                  <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" value="horizontal">Horizontal
                  </label>
                  <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" value="vertical">Vertical
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink><span>Advanced</span></a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3 card-tabbed-header">
            <ul ngbNav #nav5="ngbNav" class="nav-tabs tabs-animated tabs-animated-shadow" [justify]="currentJustify2">
              <li ngbNavItem>
                <a ngbNavLink><span>Messages</span></a>
                <ng-template ngbNavContent>
                  <div class="scroll-gradient">
                    <div class="scroll-area-sm">
                      <perfect-scrollbar [autoPropagation]="true">
                        <div
                          class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">All
                                  Hands Meeting</h4><span class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <p>Another meeting today, at <b class="text-danger">12:00 PM</b></p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">Build
                                  the production release</h4><span class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">All
                                  Hands Meeting</h4><span class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title text-success">FontAwesome Icons</h4><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">Build
                                  the production release</h4><span class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <p>Another meeting today, at <b class="text-warning">12:00 PM</b></p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </perfect-scrollbar>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li ngbNavItem>
                <a ngbNavLink><span>Events</span></a>
                <ng-template ngbNavContent>
                  <div class="scroll-gradient">
                    <div class="scroll-area-sm">
                      <perfect-scrollbar [autoPropagation]="true">
                        <div
                          class="vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-success"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">All
                                  Hands Meeting</h4>
                                <p>Lorem ipsum dolor sic amet, today at <a [routerLink]="">12:00 PM</a></p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-warning"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <p>Another meeting today, at <b class="text-danger">12:00 PM</b></p>
                                <p>Yet another one, at <span class="text-success">15:00 PM</span></p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-danger"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">Build
                                  the production release</h4>
                                <p>Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt ut labore et dolore
                                  magna elit enim at minim veniam quis nostrud</p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-primary"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title text-success">Something not important</h4>
                                <p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam quis nostrud</p>
                                <span class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-success"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">All
                                  Hands Meeting</h4>
                                <p>Lorem ipsum dolor sic amet, today at <a [routerLink]="">12:00 PM</a></p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-warning"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <p>Another meeting today, at <b class="text-danger">12:00 PM</b></p>
                                <p>Yet another one, at <span class="text-success">15:00 PM</span></p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-danger"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">Build
                                  the production release</h4>
                                <p>Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt ut labore et dolore
                                  magna elit enim at minim veniam quis nostrud</p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-primary"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title text-success">Something not important</h4>
                                <p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam quis nostrud</p>
                                <span class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </perfect-scrollbar>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li ngbNavItem>
                <a ngbNavLink><span>Status</span></a>
                <ng-template ngbNavContent>
                  <div class="no-results">
                    <div class="swal2-icon swal2-success swal2-animate-success-icon">
                      <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                      <span class="swal2-success-line-tip"></span><span class="swal2-success-line-long"></span>
                      <div class="swal2-success-ring"></div>
                      <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                      <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);">
                      </div>
                    </div>
                    <div class="results-subtitle">All caught up!</div>
                    <div class="results-title">There are no system errors!</div>
                  </div>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav5"></div>
          </div>

          <div class="divider"></div>

          <div class="text-center">
            <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentJustify2">
              <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="start">Start
              </label>
              <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="center">Center
              </label>
              <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="end">End
              </label>
              <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="fill">Fill
              </label>
              <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="justified">Justified
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-3 card-tabbed-header">
            <ul ngbNav #nav6="ngbNav" class="nav-tabs tabs-animated tabs-animated-line" [justify]="currentJustify3">
              <li ngbNavItem>
                <a ngbNavLink><span>Messages</span></a>
                <ng-template ngbNavContent>
                  <div class="scroll-gradient">
                    <div class="scroll-area-sm">
                      <perfect-scrollbar [autoPropagation]="true">
                        <div
                          class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">All
                                  Hands Meeting</h4><span class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <p>Another meeting today, at <b class="text-danger">12:00 PM</b></p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">Build
                                  the production release</h4><span class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">All
                                  Hands Meeting</h4><span class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title text-success">FontAwesome Icons</h4><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">Build
                                  the production release</h4><span class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <p>Another meeting today, at <b class="text-warning">12:00 PM</b></p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </perfect-scrollbar>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li ngbNavItem>
                <a ngbNavLink><span>Events</span></a>
                <ng-template ngbNavContent>
                  <div class="scroll-gradient">
                    <div class="scroll-area-sm">
                      <perfect-scrollbar [autoPropagation]="true">
                        <div
                          class="vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-success"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">All
                                  Hands Meeting</h4>
                                <p>Lorem ipsum dolor sic amet, today at <a [routerLink]="">12:00 PM</a></p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-warning"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <p>Another meeting today, at <b class="text-danger">12:00 PM</b></p>
                                <p>Yet another one, at <span class="text-success">15:00 PM</span></p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-danger"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">Build
                                  the production release</h4>
                                <p>Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt ut labore et dolore
                                  magna elit enim at minim veniam quis nostrud</p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-primary"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title text-success">Something not important</h4>
                                <p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam quis nostrud</p>
                                <span class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-success"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">All
                                  Hands Meeting</h4>
                                <p>Lorem ipsum dolor sic amet, today at <a [routerLink]="">12:00 PM</a></p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-warning"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <p>Another meeting today, at <b class="text-danger">12:00 PM</b></p>
                                <p>Yet another one, at <span class="text-success">15:00 PM</span></p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-danger"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title">Build
                                  the production release</h4>
                                <p>Lorem ipsum dolor sit amit,consectetur eiusmdd tempor incididunt ut labore et dolore
                                  magna elit enim at minim veniam quis nostrud</p><span
                                  class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                          <div class="vertical-timeline-item vertical-timeline-element">
                            <div><span class="vertical-timeline-element-icon bounce-in"><i
                                  class="badge badge-dot badge-dot-xl badge-primary"></i></span>
                              <div class="vertical-timeline-element-content bounce-in">
                                <h4 class="timeline-title text-success">Something not important</h4>
                                <p>Lorem ipsum dolor sit amit,consectetur elit enim at minim veniam quis nostrud</p>
                                <span class="vertical-timeline-element-date"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </perfect-scrollbar>
                    </div>
                  </div>
                </ng-template>
              </li>
              <li ngbNavItem>
                <a ngbNavLink><span>Status</span></a>
                <ng-template ngbNavContent>
                  <div class="no-results">
                    <div class="swal2-icon swal2-success swal2-animate-success-icon">
                      <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                      <span class="swal2-success-line-tip"></span><span class="swal2-success-line-long"></span>
                      <div class="swal2-success-ring"></div>
                      <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                      <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);">
                      </div>
                    </div>
                    <div class="results-subtitle">All caught up!</div>
                    <div class="results-title">There are no system errors!</div>
                  </div>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav6"></div>
          </div>
          <div class="divider"></div>

          <div class="text-center">
            <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="currentJustify3">
              <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="start">Start
              </label>
              <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="center">Center
              </label>
              <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="end">End
              </label>
              <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="fill">Fill
              </label>
              <label ngbButtonLabel class="btn-outline-primary btn-sm">
                <input ngbButton type="radio" value="justified">Justified
              </label>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>