<div class="h-100 bg-amy-crisp bg-animation">
	<div class="d-flex h-100 justify-content-center align-items-center">
		<div class="mx-auto app-login-box col-md-8">

			<div class="modal-dialog w-100 mx-auto">
				<div class="modal-content">
					<div class="logo text-center">
						<img src="/assets/images/logo.png" class="img-fluid example-full-width" />
					</div>
					<div class="modal-body">

						<form [formGroup]="form" (ngSubmit)="onSubmit()">
							<div class="h5 modal-title text-center">
								<h4 class="mt-2">
									<div>Autentificare</div>
								</h4>
							</div>

							<mat-form-field class="example-full-width mt-2 mb-2">
								<input formControlName="email" matInput placeholder="Email"
									[errorStateMatcher]="matcher" type="email" required="required">

								<mat-error class="p-2" *ngIf="(email.dirty || email.touched) && email.errors?.required">
									<strong>Câmp obligatoriu</strong>
								</mat-error>
								<mat-error class="p-2"
									*ngIf="(email.dirty || email.touched) && (email.errors?.email || email.errors?.pattern)">
									<strong>Email invalid</strong>
								</mat-error>
							</mat-form-field>

							<mat-form-field class="example-full-width mt-2 mb-2">
								<input formControlName="password" matInput placeholder="Parola"
									[errorStateMatcher]="matcher" required="required"
									[type]="hide ? 'password' : 'text'">

								<mat-icon matSuffix (click)="hide = !hide">
									{{hide ? 'visibility_off' : 'visibility'}}
								</mat-icon>

								<mat-error class="p-2"
									*ngIf="(password.dirty || password.touched) && password.errors?.required">
									<strong>Câmp obligatoriu</strong>
								</mat-error>
								<mat-error class="p-2"
									*ngIf="(password.dirty || password.touched) && password.errors?.minlength">
									<strong>Minim 8 caractere</strong>
								</mat-error>

								<mat-error class="p-2"
									*ngIf="(password.dirty || password.touched) && password.errors?.maxlength">
									<strong>Maxim 50 caractere</strong>
								</mat-error>

							</mat-form-field>

							<mat-checkbox formControlName="saveme" class="mt-2 mb-2">Păstreaza datele</mat-checkbox>

							<div class="form-group mt-2 mb-2">
								<button type="submit" [disabled]="!form.valid"
									class="mb-2 mr-2 btn-transition btn-block btn-lg btn btn-outline-primary">
									AUTENTIFICARE
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf="loading">
	<ngx-loading [show]="loading"
		[config]="{backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.5)'}"
		[template]="loadingTemplate"></ngx-loading>
	<h4 class="loading-text">Vă rugăm așteptați!</h4>
</div>