<div class="row d-flex justify-content-between mb-3">
	<h5 class="ml-3">Pagini Mobile</h5>
	<button type='button' class="btn btn-sm btn-info mr-3" (click)="addPage()">Adauga</button>
</div>
<table datatable class="row-border table-striped table-bordered hover w-100" [dtOptions]="dtOptions">
	<thead>
		<tr>
			<th>ID</th>
			<th>Titlu</th>
			<th>Slug</th>
			<th>Actiuni</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of data">
			<td>{{ row.id }}</td>
			<td>{{ row.title }}</td>
			<td>{{ row.slug }}</td>
			<td>
				<button type='button' class='edit-button btn btn-sm btn-warning' (click)='editPage(row.id)'>
					<i class='fa fa-edit'></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>