<form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="w-100">
	<div class="form-group">
		<label for="name"><strong>Nume</strong></label>
		<input formControlName="name" type="text" name="name" class="form-control">
		<span class="text-danger pt-3"
			*ngIf="(addFormControl.name.touched || submitted) && addFormControl.name.errors?.required ">
			Prioritatea este obligatorie
		</span>
	</div>

	<div class="form-group">
		<label for="color"><strong>Culoare</strong></label>
		<input formControlName="color" type="text" name="color" class="form-control">
		<span class="text-danger pt-3"
			*ngIf="(addFormControl.color.touched || submitted) && addFormControl.color.errors?.required ">
			Culoarea este obligatorie
		</span>

		<span class="text-danger pt-3"
			*ngIf="((addFormControl.color.touched || submitted) && (addFormControl.color.errors?.minlength || addFormControl.color.errors?.maxlength))">
			Culoarea trebuie sa contina exact 7 caractere
		</span>
	</div>

	<div class="form-group">
		<label for="time"><strong>Timp(ore)</strong></label>
		<input formControlName="time" type="text" name="time" class="form-control">
		<span class="text-danger pt-3"
			*ngIf="(addFormControl.time.touched || submitted) && addFormControl.time.errors?.required ">
			Timpul este obligatoriu
		</span>
	</div>

	<div class="form-group d-flex flex-row justify-content-between">
		<button type="button" mat-button mat-dialog-close class="btn btn-warning" (click)="cancel()">Inchide</button>
		<button type="submit" mat-button class="btn btn-success">Salveaza</button>
	</div>
</form>