<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
<mat-tab-group class="page-mat-tabs">
  <mat-tab label="Basic">
    <div class="row mx-auto">
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-primary"></div>
            <i class="lnr-cog text-primary"></i>
          </div>
          <div class="widget-numbers"><span>46k</span></div>
          <div class="widget-subheading">Total Views</div>
          <div class="widget-description text-success">
            <fa-icon [icon]="faAngleUp"></fa-icon>
            <span class="pl-1"><span>176%</span></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="widget-chart-actions">
            <button type="button" class="btn btn-link">
              <fa-icon [icon]="faEllipsisH"></fa-icon>
            </button>
          </div>
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-success"></div>
            <i class="lnr-screen text-success"></i>
          </div>
          <div class="widget-numbers"><span>17k</span></div>
          <div class="widget-subheading">Profiles</div>
          <div class="widget-description text-warning">
            <span class="pr-1">
              <span>128%</span>
            </span>
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-danger"></div>
            <i class="lnr-laptop-phone text-danger"></i>
          </div>
          <div class="widget-numbers"><span>5,82k</span></div>
          <div class="widget-subheading">Reports Submitted</div>
          <div class="widget-description text-primary">
            <span class="pr-1">54.1%</span>
            <fa-icon [icon]="faAngleUp"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-info"></div>
            <i class="lnr-graduation-hat text-info"></i>
          </div>
          <div class="widget-numbers"><span>62k</span></div>
          <div class="widget-subheading">Bugs Fixed</div>
          <div class="widget-description text-info">
            <fa-icon [icon]="faArrowRight"></fa-icon>
            <span class="pl-1">175.5%</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="icon-wrapper rounded">
            <div class="icon-wrapper-bg bg-focus"></div>
            <div class="center-svg">
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </div>
          </div>
          <div class="widget-numbers"><span>2,82k</span></div>
          <div class="widget-subheading">Total Sales</div>
          <div class="widget-description text-danger">
            <span class="pr-1">23.1%</span>
            <fa-icon [icon]="faAngleDown"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="icon-wrapper rounded">
            <div class="icon-wrapper-bg bg-primary"></div>
            <div class="center-svg">
              <fa-icon [icon]="faAngleDown"></fa-icon>
            </div>
          </div>
          <div class="widget-numbers"><span>32k</span></div>
          <div class="widget-subheading">Follow-ups</div>
          <div class="widget-description text-focus">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
            <span class="pl-1">115.5%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="divider mt-0" style="margin-bottom: 30px;"></div>
    <div class="row mx-auto">
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="widget-numbers">1.2M</div>
          <div class="widget-subheading">Leads Generated</div>
          <div class="widget-description text-info">
            <fa-icon [icon]="faEllipsisH"></fa-icon>
            <span class="pl-1">115.5%</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="widget-chart-actions">
            <button type="button" class="btn btn-link">
              <fa-icon [icon]="faEllipsisH"></fa-icon>
            </button>
          </div>
          <div class="widget-numbers">17.2k</div>
          <div class="widget-subheading">Profiles</div>
          <div class="widget-description text-warning">
            <span class="pr-1">175.5%</span>
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="widget-numbers">5.82k</div>
          <div class="widget-subheading">Reports Submitted</div>
          <div class="widget-description text-primary">
            <span class="pr-1">54.1%</span>
            <fa-icon [icon]="faAngleUp"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="widget-numbers">63.2k</div>
          <div class="widget-subheading">Bugs Fixed</div>
          <div class="widget-description text-info">
            <fa-icon [icon]="faArrowRight"></fa-icon>
            <span class="pl-1">175.5%</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="widget-numbers">3.47k</div>
          <div class="widget-subheading">Users Active</div>
          <div class="widget-description text-danger">
            <span class="pr-1">31.2%</span>
            <fa-icon [icon]="faAngleDown"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="widget-numbers">3.7M</div>
          <div class="widget-subheading">Lifetime Tickets</div>
          <div class="widget-description text-warning">
            <fa-icon [icon]="faArrowRight"></fa-icon>
            <span class="pl-1">121.9%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="divider mt-0" style="margin-bottom: 30px;"></div>
    <div class="row mx-auto">
      <div class="col-md-4">
        <div class="card mb-3 widget-chart card-hover-shadow-2x">
          <div class="icon-wrapper border-light rounded">
            <div class="icon-wrapper-bg bg-light"></div>
            <i class="lnr-cog icon-gradient bg-night-fade"></i>
          </div>
          <div class="widget-numbers">45.8k</div>
          <div class="widget-subheading">Total Views</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart card-hover-shadow-2x">
          <div class="icon-wrapper border-light rounded">
            <div class="icon-wrapper-bg bg-light"></div>
            <i class="lnr-screen icon-gradient bg-ripe-malin"></i>
          </div>
          <div class="widget-numbers">17.2k</div>
          <div class="widget-subheading">Profiles</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart card-hover-shadow-2x">
          <div class="icon-wrapper border-light rounded">
            <div class="icon-wrapper-bg bg-light"></div>
            <i class="lnr-laptop-phone icon-gradient bg-arielle-smile"></i>
          </div>
          <div class="widget-numbers">5.82k</div>
          <div class="widget-subheading">Reports Submitted</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart card-hover-shadow-2x">
          <div class="icon-wrapper border-light rounded">
            <div class="icon-wrapper-bg bg-light"></div>
            <i class="lnr-graduation-hat icon-gradient bg-happy-itmeo"></i>
          </div>
          <div class="widget-numbers">63.2k</div>
          <div class="widget-subheading">Bugs Fixed</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart card-hover-shadow-2x">
          <div class="icon-wrapper border-light rounded-circle">
            <div class="icon-wrapper-bg bg-light"></div>
            <i class="lnr-lock icon-gradient bg-malibu-beach"> </i>
          </div>
          <div class="widget-numbers">1.5M</div>
          <div class="widget-subheading">Views</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart card-hover-shadow-2x">
          <div class="icon-wrapper border-light rounded">
            <div class="icon-wrapper-bg bg-light"></div>
            <i class="lnr-hourglass icon-gradient bg-love-kiss"> </i>
          </div>
          <div class="widget-numbers">1,584</div>
          <div class="widget-subheading">Active Social Accounts</div>
        </div>
      </div>
    </div>
    <div class="divider mt-0" style="margin-bottom: 30px;"></div>
    <div class="row mx-auto">
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-primary"></div>
            <i class="lnr-cog text-primary"></i>
          </div>
          <div class="widget-numbers">45.8k</div>
          <div class="widget-subheading">Total Views</div>
          <div class="widget-description text-success">
            <fa-icon [icon]="faAngleUp"></fa-icon>
            <span class="pl-1">175.5%</span>
          </div>
          <div class="widget-progress-wrapper">
            <div class="progress-bar-sm progress-bar-animated-alt progress">
              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                aria-valuemax="100" style="width: 65%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-success"></div>
            <i class="lnr-screen text-success"></i>
          </div>
          <div class="widget-numbers">17.2k</div>
          <div class="widget-subheading">Profiles</div>
          <div class="widget-description text-warning"><span class="pr-1">175.5%</span>
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </div>
          <div class="widget-progress-wrapper">
            <div class="progress-bar-xs progress-bar-animated-alt progress">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                aria-valuemax="100" style="width: 85%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart card-border">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-danger"></div>
            <i class="lnr-laptop-phone text-danger"></i>
          </div>
          <div class="widget-numbers">5.82k</div>
          <div class="widget-subheading">Reports Submitted</div>
          <div class="widget-description text-primary"><span class="pr-1">54.1%</span>
            <fa-icon [icon]="faAngleUp"></fa-icon>
          </div>
          <div class="widget-progress-wrapper progress-wrapper-bottom">
            <div class="progress-bar-sm progress-bar-animated progress">
              <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="47" aria-valuemin="0"
                aria-valuemax="100" style="width: 47%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart card-border">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-info"></div>
            <i class="lnr-graduation-hat text-info"></i>
          </div>
          <div class="widget-numbers">63.2k</div>
          <div class="widget-subheading">Bugs Fixed</div>
          <div class="widget-description text-info">
            <fa-icon [icon]="faArrowRight"></fa-icon>
            <span class="pl-1">175.5%</span>
          </div>
          <div class="widget-progress-wrapper progress-wrapper-bottom">
            <div class="progress-bar-xs progress">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="91" aria-valuemin="0"
                aria-valuemax="100" style="width: 91%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-focus"></div>
            <i class="pe-7s-bluetooth text-focus"></i>
          </div>
          <div class="widget-numbers">15.8k</div>
          <div class="widget-subheading">Total Views</div>
          <div class="widget-description"><span class="text-success">
              <fa-icon [icon]="faAngleUp"></fa-icon><span class="pl-1">54.1%</span>
            </span> increase since last month
          </div>
          <div class="widget-progress-wrapper">
            <div class="progress-bar-lg progress-bar-animated progress">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                aria-valuemax="100" style="width: 65%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-warning"></div>
            <i class="pe-7s-stopwatch text-warning"></i>
          </div>
          <div class="widget-numbers">17.2k</div>
          <div class="widget-subheading">Profiles</div>
          <div class="widget-description"><span class="text-success pl-1 pr-1">
              <fa-icon [icon]="faAngleUp"></fa-icon><span class="pl-1">77.5%</span>
            </span>new sales leads
          </div>
          <div class="widget-progress-wrapper">
            <div class="progress-bar-xs progress-bar-animated progress">
              <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                aria-valuemax="100" style="width: 85%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Grids">
    <div class="row mx-auto">
      <div class="col-lg-5">
        <div class="main-card mb-3 card">
          <div class="grid-menu grid-menu-2col overflow-hidden">
            <div class="no-gutters row">
              <div class="col-sm-6">
                <div class="widget-chart">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-primary"></div>
                    <i class="lnr-cog text-primary"></i>
                  </div>
                  <div class="widget-numbers">45.8k</div>
                  <div class="widget-subheading">Total Views</div>
                  <div class="widget-description text-success">
                    <fa-icon [icon]="faAngleUp"></fa-icon>
                    <span class="pl-1">175.5%</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-chart">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-info"></div>
                    <i class="lnr-graduation-hat text-info"></i>
                  </div>
                  <div class="widget-numbers">63.2k</div>
                  <div class="widget-subheading">Bugs Fixed</div>
                  <div class="widget-description text-info">
                    <fa-icon [icon]="faArrowRight"></fa-icon>
                    <span class="pl-1">175.5%</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-chart">
                  <div class="widget-chart-actions">
                    <button type="button" class="btn btn-link">
                      <fa-icon [icon]="faEllipsisH"></fa-icon>
                    </button>
                  </div>
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-success"></div>
                    <i class="lnr-screen text-success"></i>
                  </div>
                  <div class="widget-numbers">17.2k</div>
                  <div class="widget-subheading">Profiles</div>
                  <div class="widget-description text-warning"><span class="pr-1">175.5%</span>
                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-chart">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-danger"></div>
                    <i class="lnr-laptop-phone text-danger"></i>
                  </div>
                  <div class="widget-numbers">5.82k</div>
                  <div class="widget-subheading">Reports Submitted</div>
                  <div class="widget-description text-primary"><span class="pl-1">54.1%</span>
                    <fa-icon [icon]="faAngleUp"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-card mb-3 card">
          <div class="grid-menu grid-menu-2col overflow-hidden">
            <div class="no-gutters row">
              <div class="col-sm-6">
                <div class="widget-chart widget-chart-hover">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-primary"></div>
                    <i class="lnr-cog text-primary"></i>
                  </div>
                  <div class="widget-numbers">45.8k</div>
                  <div class="widget-subheading">Total Views</div>
                  <div class="widget-description text-success">
                    <fa-icon [icon]="faAngleUp"></fa-icon>
                    <span class="pl-1">175.5%</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-chart widget-chart-hover">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-info"></div>
                    <i class="lnr-graduation-hat text-info"></i>
                  </div>
                  <div class="widget-numbers">63.2k</div>
                  <div class="widget-subheading">Bugs Fixed</div>
                  <div class="widget-description text-info">
                    <fa-icon [icon]="faArrowRight"></fa-icon>
                    <span class="pl-1">175.5%</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-chart widget-chart-hover">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-danger"></div>
                    <i class="lnr-laptop-phone text-danger"></i>
                  </div>
                  <div class="widget-numbers">5.82k</div>
                  <div class="widget-subheading">Reports Submitted</div>
                  <div class="widget-description text-primary">
                    <span class="pl-1">54.1%</span>
                    <fa-icon [icon]="faAngleUp"></fa-icon>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="bg-premium-dark widget-chart-hover widget-chart card-border br-br">
                  <div class="widget-chart-content text-white">
                    <div class="icon-wrapper rounded-circle">
                      <div class="icon-wrapper-bg bg-success opacity-8"></div>
                      <i class="lnr-screen"></i>
                    </div>
                    <div class="widget-numbers">17.2k</div>
                    <div class="widget-subheading">Profiles</div>
                    <div class="widget-description text-warning">
                      <span class="pr-1">175.5%</span>
                      <fa-icon [icon]="faArrowLeft"></fa-icon>
                    </div>
                  </div>
                  <div class="widget-chart-wrapper opacity-4">
                    chart
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="main-card mb-3 card">
          <div class="grid-menu grid-menu-3col">
            <div class="no-gutters row">
              <div class="col-sm-6 col-xl-4">
                <div class="widget-chart">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-primary"></div>
                    <i class="lnr-cog text-primary"></i>
                  </div>
                  <div class="widget-numbers">45.8k</div>
                  <div class="widget-subheading">Total Views</div>
                  <div class="widget-description text-success">
                    <fa-icon [icon]="faAngleUp"></fa-icon>
                    <span class="pl-1">175.5%</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="widget-chart">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-info"></div>
                    <i class="lnr-graduation-hat text-info"></i>
                  </div>
                  <div class="widget-numbers">63.2k</div>
                  <div class="widget-subheading">Bugs Fixed</div>
                  <div class="widget-description text-info">
                    <fa-icon [icon]="faArrowRight"></fa-icon>
                    <span class="pl-1">175.5%</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="widget-chart">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-info"></div>
                    <i class="lnr-graduation-hat text-info"></i>
                  </div>
                  <div class="widget-numbers">63.2k</div>
                  <div class="widget-subheading">Bugs Fixed</div>
                  <div class="widget-description text-info">
                    <fa-icon [icon]="faArrowRight"></fa-icon>
                    <span class="pl-1">175.5%</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="widget-chart">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-danger"></div>
                    <i class="lnr-laptop-phone text-danger"></i>
                  </div>
                  <div class="widget-numbers">5.82k</div>
                  <div class="widget-subheading">Reports Submitted</div>
                  <div class="widget-description text-primary">
                    <span class="pl-1">54.1%</span>
                    <fa-icon [icon]="faAngleUp"></fa-icon>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="widget-chart">
                  <div class="widget-chart-actions">
                    <button type="button" class="btn btn-link">
                      <fa-icon [icon]="faEllipsisH"></fa-icon>
                    </button>
                  </div>
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-success"></div>
                    <i class="lnr-screen text-success"></i>
                  </div>
                  <div class="widget-numbers">17.2k</div>
                  <div class="widget-subheading">Profiles</div>
                  <div class="widget-description text-warning">
                    <span class="pr-1">175.5%</span>
                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="widget-chart">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-danger"></div>
                    <i class="lnr-laptop-phone text-danger"></i>
                  </div>
                  <div class="widget-numbers">5.82k</div>
                  <div class="widget-subheading">Reports Submitted</div>
                  <div class="widget-description text-primary">
                    <span class="pl-1">54.1%</span>
                    <fa-icon [icon]="faAngleUp"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-card mb-3 card">
          <div class="grid-menu grid-menu-3col">
            <div class="no-gutters row">
              <div class="col-sm-6 col-xl-4">
                <div class="widget-chart widget-chart-hover">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-primary"></div>
                    <i class="lnr-cog text-primary"></i>
                  </div>
                  <div class="widget-numbers">45.8k</div>
                  <div class="widget-subheading">Total Views</div>
                  <div class="widget-description text-success">
                    <fa-icon [icon]="faAngleUp"></fa-icon>
                    <span class="pl-1">175.5%</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="widget-chart widget-chart-hover">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-info"></div>
                    <i class="lnr-graduation-hat text-info"></i>
                  </div>
                  <div class="widget-numbers">63.2k</div>
                  <div class="widget-subheading">Bugs Fixed</div>
                  <div class="widget-description text-info">
                    <fa-icon [icon]="faArrowRight"></fa-icon>
                    <span class="pl-1">175.5%</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="widget-chart widget-chart-hover">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-info"></div>
                    <i class="lnr-graduation-hat text-info"></i>
                  </div>
                  <div class="widget-numbers">63.2k</div>
                  <div class="widget-subheading">Bugs Fixed</div>
                  <div class="widget-description text-info">
                    <fa-icon [icon]="faArrowRight"></fa-icon>
                    <span class="pl-1">175.5%</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="widget-chart widget-chart-hover">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-danger"></div>
                    <i class="lnr-laptop-phone text-danger"></i>
                  </div>
                  <div class="widget-numbers">5.82k</div>
                  <div class="widget-subheading">Reports Submitted</div>
                  <div class="widget-description text-primary">
                    <span class="pl-1">54.1%</span>
                    <fa-icon [icon]="faAngleUp"></fa-icon>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="widget-chart widget-chart-hover">
                  <div class="widget-chart-actions">
                    <button class="btn-icon btn-icon-only btn-link btn btn-warning">
                      <div class="btn-icon-wrapper">
                        <fa-icon [icon]="faArrowLeft"></fa-icon>
                      </div>
                    </button>
                  </div>
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-success"></div>
                    <i class="lnr-screen text-success"></i>
                  </div>
                  <div class="widget-numbers">17.2k</div>
                  <div class="widget-subheading">Profiles</div>
                  <div class="widget-description text-warning">
                    <span class="pr-1">175.5%</span>
                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-4">
                <div class="widget-chart widget-chart-hover">
                  <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg bg-danger"></div>
                    <i class="lnr-laptop-phone text-danger"></i>
                  </div>
                  <div class="widget-numbers">5.82k</div>
                  <div class="widget-subheading">Reports Submitted</div>
                  <div class="widget-description text-primary">
                    <span class="pl-1">54.1%</span>
                    <fa-icon [icon]="faAngleUp"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Colors">
    <div class="row mx-auto">
      <div class="col-md-4">
        <div class="card mb-3 bg-primary widget-chart text-white card-border">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-white opacity-1"></div>
            <i class="lnr-cog text-white"></i>
          </div>
          <div class="widget-numbers">45.8k</div>
          <div class="widget-subheading">Total Views</div>
          <div class="widget-description text-success">
            <fa-icon [icon]="faAngleUp"></fa-icon>
            <span class="pl-1">175.5%</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 bg-success widget-chart text-white card-border">
          <div class="widget-chart-actions">
            <button type="button" class="btn btn-link">
              <fa-icon [icon]="faEllipsisH"></fa-icon>
            </button>
          </div>
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-white opacity-10"></div>
            <i class="lnr-screen text-success"></i>
          </div>
          <div class="widget-numbers">17.2k</div>
          <div class="widget-subheading">Profiles</div>
          <div class="widget-description text-white">
            <span class="pr-1">175.5%</span>
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 bg-warning widget-chart text-white card-border">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-white opacity-2"></div>
            <i class="lnr-laptop-phone text-white"></i>
          </div>
          <div class="widget-numbers">5.82k</div>
          <div class="widget-subheading">Reports Submitted</div>
          <div class="widget-description text-white">
            <span class="pl-1">54.1%</span>
            <fa-icon [icon]="faAngleUp"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 bg-focus widget-chart text-white card-border">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-info opacity-5"></div>
            <i class="lnr-graduation-hat text-white"></i>
          </div>
          <div class="widget-numbers">63.2k</div>
          <div class="widget-subheading">Bugs Fixed</div>
          <div class="widget-description text-info">
            <fa-icon [icon]="faArrowRight"></fa-icon>
            <span class="pl-1">175.5%</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 bg-danger widget-chart text-white card-border">
          <div class="icon-wrapper rounded">
            <div class="icon-wrapper-bg bg-white opacity-2"></div>
            <i class="pe-7s-eyedropper text-white"></i>
          </div>
          <div class="widget-numbers">5.82k</div>
          <div class="widget-subheading">Reports Submitted</div>
          <div class="widget-description text-white">
            <span class="pl-1">54.1%</span>
            <fa-icon [icon]="faAngleUp"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 bg-info widget-chart text-white card-border">
          <div class="icon-wrapper rounded">
            <div class="icon-wrapper-bg bg-focus opacity-5"></div>
            <i class="pe-7s-photo text-white"></i>
          </div>
          <div class="widget-numbers">63.2k</div>
          <div class="widget-subheading">Bugs Fixed</div>
          <div class="widget-description text-white">
            <fa-icon [icon]="faArrowRight"></fa-icon>
            <span class="pl-1">175.5%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="divider mt-0" style="margin-bottom: 30px;"></div>
    <div class="row mx-auto">
      <div class="col-md-4">
        <div class="card mb-3 bg-arielle-smile widget-chart text-white card-border">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-white opacity-10"></div>
            <i class="lnr-cog icon-gradient bg-arielle-smile"></i>
          </div>
          <div class="widget-numbers">45.8k</div>
          <div class="widget-subheading">Total Views</div>
          <div class="widget-description text-dark">
            <fa-icon [icon]="faAngleUp"></fa-icon>
            <span class="pl-1">175.5%</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 bg-warm-flame widget-chart text-white card-border">
          <div class="icon-wrapper rounded">
            <div class="icon-wrapper-bg bg-white opacity-10"></div>
            <i class="lnr-screen icon-gradient bg-warm-flame"></i>
          </div>
          <div class="widget-numbers">17.2k</div>
          <div class="widget-subheading">Profiles</div>
          <div class="widget-description text-white">
            <span class="pr-1">175.5%</span>
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 bg-ripe-malin widget-chart text-white card-border">
          <div class="icon-wrapper rounded">
            <div class="icon-wrapper-bg bg-white opacity-2"></div>
            <i class="lnr-laptop-phone text-white"></i>
          </div>
          <div class="widget-numbers">5.82k</div>
          <div class="widget-subheading">Reports Submitted</div>
          <div class="widget-description text-white">
            <span class="pl-1">54.1%</span>
            <fa-icon [icon]="faAngleUp"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 bg-mixed-hopes widget-chart text-white card-border">
          <div class="icon-wrapper rounded">
            <div class="icon-wrapper-bg bg-dark opacity-9"></div>
            <i class="lnr-graduation-hat text-white"></i>
          </div>
          <div class="widget-numbers">63.2k</div>
          <div class="widget-subheading">Bugs Fixed</div>
          <div class="widget-description text-dark">
            <fa-icon [icon]="faArrowRight"></fa-icon>
            <span class="pl-1">175.5%</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 bg-grow-early widget-chart text-white card-border">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-white opacity-2"></div>
            <i class="lnr-laptop-phone text-white"></i>
          </div>
          <div class="widget-numbers">5.82k</div>
          <div class="widget-subheading">Reports Submitted</div>
          <div class="widget-description text-white">
            <span class="pl-1">54.1%</span>
            <fa-icon [icon]="faAngleUp"></fa-icon>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 bg-plum-plate widget-chart text-white card-border">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-dark opacity-9"></div>
            <i class="lnr-graduation-hat text-white"></i>
          </div>
          <div class="widget-numbers">63.2k</div>
          <div class="widget-subheading">Bugs Fixed</div>
          <div class="widget-description text-white opacity-8">
            <fa-icon [icon]="faArrowRight"></fa-icon>
            <span class="pl-1">175.5%</span>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Alignments">
    <div class="row mx-auto">
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-primary"></div>
            <i class="lnr-cog text-primary"></i>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Total Views</div>
            <div class="widget-numbers">45.8k</div>
            <div class="widget-description text-success">
              <fa-icon [icon]="faAngleUp"></fa-icon>
              <span class="pl-1">175.5%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="widget-chart-actions">
            <button type="button" class="btn btn-link">
              <fa-icon [icon]="faEllipsisH"></fa-icon>
            </button>
          </div>
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-success"></div>
            <i class="lnr-screen text-success"></i>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Profiles</div>
            <div class="widget-numbers">17.2k</div>
            <div class="widget-description text-warning">
              <span class="pr-1">175.5%</span>
              <fa-icon [icon]="faArrowLeft"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-danger"></div>
            <i class="lnr-laptop-phone text-danger"></i>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Reports Submitted</div>
            <div class="widget-numbers">5.82k</div>
            <div class="widget-description text-primary">
              <span class="pr-1">54.1%</span>
              <fa-icon [icon]="faAngleUp"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-info"></div>
            <i class="lnr-graduation-hat text-info"></i>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Bugs Fixed</div>
            <div class="widget-numbers">63.2k</div>
            <div class="widget-description text-info">
              <fa-icon [icon]="faArrowRight"></fa-icon>
              <span class="pl-1">175.5%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
            <i class="lnr-laptop-phone text-dark opacity-8"></i>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Reports Submitted</div>
            <div class="widget-numbers">2.5M</div>
            <div class="widget-description text-danger">
              <span class="pr-1">21.8%</span>
              <fa-icon [icon]="faAngleDown"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg opacity-9 bg-focus"></div>
            <i class="lnr-graduation-hat text-white"></i>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Bugs Fixed</div>
            <div class="widget-numbers"><span>375</span></div>
            <div class="widget-description opacity-8 text-focus">Down by<span class="text-success pl-1 pr-1">
                <fa-icon [icon]="faAngleDown"></fa-icon>
                <span class="pl-1">54.1%</span>
              </span>from 30 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider mt-0" style="margin-bottom: 30px;"></div>
    <div class="row mx-auto">
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-subheading">Total Views</div>
            <div class="widget-numbers">45.8k</div>
            <div class="widget-description text-success">
              <fa-icon [icon]="faAngleUp"></fa-icon>
              <span class="pl-1">175.5%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="widget-chart-actions">
            <button type="button" class="btn btn-link">
              <fa-icon [icon]="faEllipsisH"></fa-icon>
            </button>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Profiles</div>
            <div class="widget-numbers">17.2k</div>
            <div class="widget-description text-warning">
              <span class="pr-1">175.5%</span>
              <fa-icon [icon]="faArrowLeft"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-subheading">Reports Submitted</div>
            <div class="widget-numbers">5.82k</div>
            <div class="widget-description text-primary">
              <span class="pr-1">54.1%</span>
              <fa-icon [icon]="faAngleUp"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-subheading">Bugs Fixed</div>
            <div class="widget-numbers">63.2k</div>
            <div class="widget-description text-info">
              <fa-icon [icon]="faArrowRight"></fa-icon>
              <span class="pl-1">175.5%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-subheading">Reports Submitted</div>
            <div class="widget-numbers">5.82k</div>
            <div class="widget-description text-primary">
              <span class="pr-1">54.1%</span>
              <fa-icon [icon]="faAngleUp"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="widget-chart-content">
            <div class="widget-subheading">Bugs Fixed</div>
            <div class="widget-numbers">63.2k</div>
            <div class="widget-description text-info">
              <fa-icon [icon]="faArrowRight"></fa-icon>
              <span class="pl-1">175.5%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider mt-0" style="margin-bottom: 30px;"></div>
    <div class="row mx-auto">
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart card-hover-shadow-2x text-left">
          <div class="icon-wrapper border-light rounded">
            <div class="icon-wrapper-bg bg-light"></div>
            <i class="lnr-cog icon-gradient bg-night-fade"></i>
          </div>
          <div class="widget-chart-content">
            <div class="widget-numbers">45.8k</div>
            <div class="widget-subheading">Total Views</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart card-hover-shadow-2x text-left">
          <div class="icon-wrapper border-light rounded">
            <div class="icon-wrapper-bg bg-light"></div>
            <i class="lnr-screen icon-gradient bg-ripe-malin"></i>
          </div>
          <div class="widget-chart-content">
            <div class="widget-numbers">17.2k</div>
            <div class="widget-subheading">Profiles</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart card-hover-shadow-2x text-left">
          <div class="icon-wrapper border-light rounded">
            <div class="icon-wrapper-bg bg-light"></div>
            <i class="lnr-laptop-phone icon-gradient bg-arielle-smile"></i>
          </div>
          <div class="widget-chart-content">
            <div class="widget-numbers">5.82k</div>
            <div class="widget-subheading">Reports Submitted</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart card-hover-shadow-2x text-left">
          <div class="icon-wrapper border-light rounded">
            <div class="icon-wrapper-bg bg-light"></div>
            <i class="lnr-graduation-hat icon-gradient bg-happy-itmeo"></i>
          </div>
          <div class="widget-chart-content">
            <div class="widget-numbers">63.2k</div>
            <div class="widget-subheading">Bugs Fixed</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart card-hover-shadow-2x text-left">
          <div class="icon-wrapper border-light rounded">
            <div class="icon-wrapper-bg bg-light"></div>
            <i class="lnr-enter icon-gradient bg-grow-early"></i>
          </div>
          <div class="widget-chart-content">
            <div class="widget-numbers">653</div>
            <div class="widget-subheading">Reports Submitted</div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart card-hover-shadow-2x text-left">
          <div class="icon-wrapper border-light rounded">
            <div class="icon-wrapper-bg bg-light"></div>
            <i class="lnr-license icon-gradient bg-plum-plate"></i>
          </div>
          <div class="widget-chart-content">
            <div class="widget-numbers">231</div>
            <div class="widget-subheading">Bugs Fixed</div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider mt-0" style="margin-bottom: 30px;"></div>
    <div class="row mx-auto">
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-primary"></div>
            <i class="lnr-cog text-primary"></i>
          </div>
          <div class="widget-numbers">45.8k</div>
          <div class="widget-progress-wrapper progress-wrapper-bottom">
            <div class="progress-bar-sm progress-bar-animated-alt progress">
              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                aria-valuemax="100" style="width: 65%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-success"></div>
            <i class="lnr-screen text-success"></i>
          </div>
          <div class="widget-numbers">17.2k</div>
          <div class="widget-progress-wrapper progress-wrapper-bottom">
            <div class="progress-bar-xs progress-bar-animated-alt progress">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                aria-valuemax="100" style="width: 85%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-danger"></div>
            <i class="lnr-laptop-phone text-danger"></i>
          </div>
          <div class="widget-numbers">5.82k</div>
          <div class="widget-progress-wrapper progress-wrapper-bottom">
            <div class="progress-bar-sm progress-bar-animated progress">
              <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="47" aria-valuemin="0"
                aria-valuemax="100" style="width: 47%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-info"></div>
            <i class="lnr-graduation-hat text-info"></i>
          </div>
          <div class="widget-numbers">63.2k</div>
          <div class="widget-progress-wrapper progress-wrapper-bottom">
            <div class="progress-bar-xs progress">
              <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="91" aria-valuemin="0"
                aria-valuemax="100" style="width: 91%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left card-border">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-danger"></div>
            <i class="lnr-laptop-phone text-danger"></i>
          </div>
          <div class="widget-numbers">5.82k</div>
          <div class="widget-progress-wrapper progress-wrapper-bottom">
            <div class="progress-bar-sm progress-bar-animated progress">
              <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="47" aria-valuemin="0"
                aria-valuemax="100" style="width: 47%;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left card-border">
          <div class="icon-wrapper rounded-circle">
            <div class="icon-wrapper-bg bg-info"></div>
            <i class="lnr-graduation-hat text-info"></i>
          </div>
          <div class="widget-numbers">8.6M</div>
          <div class="widget-progress-wrapper progress-wrapper-bottom">
            <div class="progress-bar progress">
              <div class="progress-bar bg-success" role="progressbar" aria-valuenow="91" aria-valuemin="0"
                aria-valuemax="100" style="width: 91%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Progress Circle">
    <div class="row mx-auto">
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="progress-circle-wrapper">
            <div class="round-progress-text">
              <span>42%</span>
              <round-progress [current]="42" [max]="100" [color]="'#52c44f'" [background]="'#f0f0f0'" [radius]="62"
                [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false" [responsive]="true"
                [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
            </div>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Total Views</div>
            <div class="widget-numbers">45.8k</div>
            <div class="widget-description text-success">
              <fa-icon [icon]="faAngleUp"></fa-icon>
              <span class="pl-1">175.5%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="widget-chart-actions">
            <button type="button" class="btn btn-link">
              <fa-icon [icon]="faEllipsisH"></fa-icon>
            </button>
          </div>
          <div class="progress-circle-wrapper">
            <div class="round-progress-text">
              <span>71%</span>
              <round-progress [current]="71" [max]="100" [color]="'#cc603c'" [background]="'#f0f0f0'" [radius]="62"
                [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false" [responsive]="true"
                [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
            </div>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Profiles</div>
            <div class="widget-numbers">17.2k</div>
            <div class="widget-description text-warning"><span class="pr-1">175.5%</span>
              <fa-icon [icon]="faArrowLeft"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="progress-circle-wrapper">
            <div class="round-progress-text">
              <span>55%</span>
              <round-progress [current]="55" [max]="100" [color]="'#6bbdcc'" [background]="'#f0f0f0'" [radius]="62"
                [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false" [responsive]="true"
                [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
            </div>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Reports Submitted</div>
            <div class="widget-numbers">5.82k</div>
            <div class="widget-description text-primary"><span class="pr-1">54.1%</span>
              <fa-icon [icon]="faAngleUp"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="progress-circle-wrapper">
            <div class="round-progress-text">
              <span>38%</span>
              <round-progress [current]="38" [max]="100" [color]="'#aacc3e'" [background]="'#f0f0f0'" [radius]="62"
                [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false" [responsive]="true"
                [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
            </div>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Bugs Fixed</div>
            <div class="widget-numbers">63.2k</div>
            <div class="widget-description text-info">
              <fa-icon [icon]="faArrowRight"></fa-icon>
              <span class="pl-1">175.5%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="progress-circle-wrapper">
            <div class="round-progress-text">
              <span>42%</span>
              <round-progress [current]="42" [max]="100" [color]="'#c42418'" [background]="'#f0f0f0'" [radius]="62"
                [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false" [responsive]="true"
                [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
            </div>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Reports Submitted</div>
            <div class="widget-numbers">5.82k</div>
            <div class="widget-description text-primary"><span class="pr-1">54.1%</span>
              <fa-icon [icon]="faAngleUp"></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mb-3 widget-chart text-left">
          <div class="progress-circle-wrapper">
            <div class="round-progress-text">
              <span>71%</span>
              <round-progress [current]="71" [max]="100" [color]="'#5f78cc'" [background]="'#f0f0f0'" [radius]="62"
                [stroke]="6" [semicircle]="false" [rounded]="true" [clockwise]="false" [responsive]="true"
                [duration]="1400" [animation]="'easeInOutQuart'" [animationDelay]="0"></round-progress>
            </div>
          </div>
          <div class="widget-chart-content">
            <div class="widget-subheading">Bugs Fixed</div>
            <div class="widget-numbers">63.2k</div>
            <div class="widget-description text-info">
              <fa-icon [icon]="faArrowRight"></fa-icon>
              <span class="pl-1">175.5%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>