<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">
  <div class="col-md-6">
    <div class="card main-card mb-3">
      <div class="card-body">
        <textarea class="form-control" autosize>Some text...</textarea>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card main-card mb-3">
      <div class="card-body">
        <textarea class="form-control form-control-lg" autosize>Some text...</textarea>
      </div>
    </div>
  </div>
</div>
