<form>

    <div class="row" *ngFor="let row of values.informatii.contracte_publicitate; let i = index">

        <div class="col-sm-12">
            <h5 class="full-width sub-section-title border-bottom">Contract #{{i + 1}}</h5>
        </div>
        
        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.contract" name="contract_{{i}}" matInput placeholder="Contract"
                    [errorStateMatcher]="matcher" type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2" appearance="fill">
                <mat-label>Data inceput</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="row.data_inceput" name="data_inceput_{{i}}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.valoare" name="valoare_{{i}}" matInput placeholder="Valoare"
                    [errorStateMatcher]="matcher" type="number">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <mat-select matSelect [(ngModel)]="row.luna_declaratiei" placeholder="Luna Declaratiei"
                    name="luna_declaratiei_{{i}}">
                    <mat-option value="{{val.id}}" *ngFor="let val of lunicalendaristice">{{val.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <mat-select matSelect [(ngModel)]="row.beneficiar" placeholder="Beneficiari" name="beneficiar_{{i}}">
                    <mat-option value="{{val.id}}" *ngFor="let val of beneficiari">{{val.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <textarea [(ngModel)]="row.observatii" name="observatii_{{i}}" matInput placeholder="Observații"
                    [errorStateMatcher]="matcher" matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>

        <div class="col-sm-12">
            <button type="button" (click)="removeRow(i)"
                class="mb-2 mr-2 btn-transition float-right btn-lg btn btn-outline-danger">
                STERGE
            </button>
        </div>

    </div>

    <!-- add button please -->
    <!-- <div class="col-sm-12"> -->
        <button type="button" (click)="addNewRow()"
            class="mb-2 mr-2 btn-transition float-right btn-lg btn btn-outline-primary">
            ADAUGA
        </button>
    <!-- </div> -->

</form>