<div class="app-inner-layout">
    <div class="app-inner-layout__header bg-heavy-rain">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="fa fa-fw fa-file-text icon-gradient bg-mixed-hopes"></i>
                    </div>
                    <div>
                        Generare Certificat Fiscal Online
                        <div class="page-title-subheading">
                            <span *ngIf="user.type == 1">CERER PENTRU ELIBERAREA UNUI CERTIFICAT DE ATESTARE FISCALĂ PENTRU PERSOANE FIZICE PRIVIND IMPOZITE, TAXE LOCALE ŞI ALTE VENITURI DATORATE BUGETULUI LOCAL</span>
                            <span *ngIf="user.type == 2">CERERE PENTRU ELIBERAREA UNUI CERTIFICAT DE ATESTARE FISCALĂ PENTRU  PERSOANE  JURIDIC PRIVIND IMPOZITE, TAXE LOCALE ŞI ALTE VENITURI DATORATE BUGETULUI LOCAL</span>
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                </div>
            </div>
        </div>
    </div>


    <div class="row w-100 mt-5 white-bg p-3" *ngIf="generalError == null">

        <form (ngSubmit)="submit()" class="w-100">

            <div class="col-sm-12" *ngIf="loaded == 1">

                <!-- <div class="row" *ngIf="errorMessages.length > 0">
                    <div class="col-sm-12"> -->
                <!-- <p class="red-text"><strong>Am intâmpinat {{errorMessages.length}} erori în completarea Cererii
                                Dumneavoastră Vă rugăm să reverificați cererea și să o retransmiteți:</strong></p>
                        <hr />
                        <ul class="simple-list">
                            <li class="red-text" *ngFor="errMsg in errorMessages track by $index">{{$index + 1}}.
                                {{errMsg}}</li>
                        </ul> -->
                <!-- </div>
                </div> -->

                <h4 class="section-title border-bottom mb-3">Subsemnatul</h4>

                <div class="row pb-5">

                    <div class="col-sm-12 col-md-6 pb-5" *ngIf="user.type == 2">
                        <h5 class="sub-section-title"><Strong>Identificare Contribuabil</Strong></h5>

                        <ul class="list-group p-0">
                            <li class="list-group-item d-flex justify-content-between">
                                <span><strong>CNP/CUI</strong></span>
                                <span>{{ user.cnp }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between"
                                *ngIf="user.f_nume !== '' && user.type == 2">
                                <span><strong>Denumire Companie</strong></span>
                                <span>{{ user.f_nume }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between"
                                *ngIf="user.f_reg_com !== '' && user.type == 2">
                                <span><strong>Registrul Comertului</strong></span>
                                <span>{{ user.f_reg_com || 'n/a' }}</span>
                            </li>
                        </ul>

                    </div>

                    <div class="col-sm-12 col-md-6 pb-5" *ngIf="user.type == 2">
                        <h5 class="sub-section-title">Adresa Sediu Social</h5>

                        <!-- placeholder="Alegeti Adresa Domiciliu" -->
                        <mat-form-field class="example-full-width mt-2 mb-2">
                            <mat-select matSelect [(ngModel)]="subsemnatul.source_sediu_social"
                                name="source_sediu_social" required
                                (ngModelChange)="updateAdresaSelected($event, 'source_sediu_social')">
                                <mat-option value="-1">-- Alegeti --</mat-option>
                                <mat-option *ngFor="let row of listAddresses.sediu_social" value="{{row.id}}">
                                    Str.{{row.strada}},
                                    Nr. {{row.numar}}
                                    <span *ngIf="row.bloc !== null">, Bl. {{row.bloc}}</span>
                                    <span *ngIf="row.scara !== null">, Sc. {{row.scara}}</span>
                                    <span *ngIf="row.etaj !== null">, Et. {{row.etaj}}</span>
                                    <span *ngIf="row.apartament !== null">, Ap. {{row.apartament}}</span>
                                    , {{row.oras}}, {{row.judet_name}}<span *ngIf="row.sector > 0">,
                                        {{row.sector_name}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="col-sm-12">
                            <div role="alert" class="alert alert-danger fade show text-center"
                                *ngIf="subsemnatul.source_sediu_social == -1">
                                <h5>ATENTIE!</h5>
                                <p class="mb-0">Adresa Sediu Social este obligatorie</p>
                            </div>

                            <p class="border-bottom" *ngIf="subsemnatul.source_sediu_social > -1">Adresa selectata</p>

                            <div class="wrap-address-box-list" *ngFor="let row of listAddresses.sediu_social">
                                <div class="row" *ngIf="subsemnatul.source_adresa == row.id">
                                    <div class="col-sm-8">
                                        <p class="m-0"><strong>Judet:</strong> {{row.judet_name}},
                                            <strong>Oras:</strong> {{row.oras}},
                                            <strong>Sector:</strong> {{row.sector_name}}
                                        </p>
                                        <p class="m-0"><strong>Strada:</strong> {{row.strada}},
                                            <strong>Numar:</strong> {{row.numar}}
                                            <span *ngIf="row.bloc !== null">, <strong>Bl.</strong>
                                                {{row.bloc}}</span>
                                            <span *ngIf="row.scara !== null">, <strong>Sc.</strong>
                                                {{row.scara}}</span>
                                            <span *ngIf="row.etaj !== null">, <strong>Et.</strong>
                                                {{row.etaj}}</span>
                                            <span *ngIf="row.apartament !== null">, <strong>Ap.</strong>
                                                {{row.apartament}}</span>
                                        </p>
                                        <p class="m-0"><strong>Observatii:</strong> {{row.observatii
                                            || 'n/a'}}
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="divider" *ngIf="user.type == 2"></div>

                    <div class="col-sm-12 col-md-6">
                        <h5 class="sub-section-title"><Strong>Identificare <span
                                    *ngIf="user.type == 2">Împuternicit/Mandatar</span></Strong></h5>

                        <ul class="list-group p-0">
                            <li class="list-group-item d-flex justify-content-between">
                                <span><strong>Nume</strong></span>
                                <span>{{ user.nume }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span><strong>Prenume</strong></span>
                                <span>{{ user.prenume }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span><strong>CI</strong></span>
                                <span>{{ user.ci_serie || 'n/a'}} - {{user.ci_numar ||
                                    'n/a'}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between" *ngIf="user.type == 1">
                                <span><strong>CNP/CUI</strong></span>
                                <span>{{ user.cnp }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span><strong>Email</strong></span>
                                <span>{{ user.email }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span><strong>Telefon</strong></span>
                                <span>{{ user.international_number }}</span>
                            </li>
                        </ul>

                    </div>

                    <div class="col-sm-12 col-md-6">
                        <h5 class="sub-section-title">Adresa Domiciliu</h5>

                        <!-- placeholder="Alegeti Adresa Domiciliu" -->
                        <mat-form-field class="example-full-width mt-2 mb-2">
                            <mat-select matSelect [(ngModel)]="subsemnatul.source_adresa" name="source_adresa" required
                                (ngModelChange)="updateAdresaSelected($event, 'source_adresa')">
                                <mat-option value="-1">-- Alegeti --</mat-option>
                                <mat-option *ngFor="let row of listAddresses.domiciliu" value="{{row.id}}">
                                    Str.{{row.strada}},
                                    Nr. {{row.numar}}
                                    <span *ngIf="row.bloc !== null">, Bl. {{row.bloc}}</span>
                                    <span *ngIf="row.scara !== null">, Sc. {{row.scara}}</span>
                                    <span *ngIf="row.etaj !== null">, Et. {{row.etaj}}</span>
                                    <span *ngIf="row.apartament !== null">, Ap. {{row.apartament}}</span>
                                    , {{row.oras}}, {{row.judet_name}}<span *ngIf="row.sector > 0">,
                                        {{row.sector_name}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="col-sm-12">
                            <div role="alert" class="alert alert-danger fade show text-center"
                                *ngIf="subsemnatul.source_adresa == -1">
                                <h5>ATENTIE!</h5>
                                <p class="mb-0">Adresa de Domiciliu este obligatorie</p>
                            </div>

                            <p class="border-bottom" *ngIf="subsemnatul.source_adresa > -1">Adresa selectata</p>

                            <div class="wrap-address-box-list" *ngFor="let row of listAddresses.domiciliu">
                                <div class="row" *ngIf="subsemnatul.source_adresa == row.id">
                                    <div class="col-sm-8">
                                        <p class="m-0"><strong>Judet:</strong> {{row.judet_name}},
                                            <strong>Oras:</strong> {{row.oras}},
                                            <strong>Sector:</strong> {{row.sector_name}}
                                        </p>
                                        <p class="m-0"><strong>Strada:</strong> {{row.strada}},
                                            <strong>Numar:</strong> {{row.numar}}
                                            <span *ngIf="row.bloc !== null">, <strong>Bl.</strong>
                                                {{row.bloc}}</span>
                                            <span *ngIf="row.scara !== null">, <strong>Sc.</strong>
                                                {{row.scara}}</span>
                                            <span *ngIf="row.etaj !== null">, <strong>Et.</strong>
                                                {{row.etaj}}</span>
                                            <span *ngIf="row.apartament !== null">, <strong>Ap.</strong>
                                                {{row.apartament}}</span>
                                        </p>
                                        <p class="m-0"><strong>Observatii:</strong> {{row.observatii
                                            || 'n/a'}}
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-12">
                <h4 class="section-title border-bottom mb-3">Matricole</h4>

                <div class="row pb-5" *ngIf="loadedMatricole == 1">

                    <div class="col-sm-12" *ngIf="matricole.length == 0">
                        <p>Lipsa Inregistrari. Nu aveti nici o matricola inregistrata.</p>
                    </div>

                    <div class="col-sm-12" *ngIf="matricole.length > 0">
                        <div class="row">
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-lg" [class.btn-secondary]="search.matricole_all == false" 
                                [class.btn-success]="search.matricole_all == true" (click)="checkAllMatricole()">Toate</button>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label><strong>Cautare</strong></label>
                                    <input type="text" class="form-control" name="matricole_text" [(ngModel)]="search.matricole_text" (ngModelChange)="checkForUpdatesDT()"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12" *ngIf="matricole.length > 0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nr Matricola</th>
                                    <th scope="col">Tip Matricola</th>
                                    <th scope="col">Adresa</th>
                                    <th scope="col">Descriere</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of data; index as i" class="pointer" (click)="toggleMatricola(row)">
                                    <td>
                                        <span class="pointer" *ngIf="search.loaded.includes(row.matricola)">
                                            <fa-icon [icon]="faCheckSquare" class="green-text"></fa-icon>
                                        </span>
                                        <span class="pointer" *ngIf="!search.loaded.includes(row.matricola)">
                                            <fa-icon [icon]="faSquare"></fa-icon>
                                        </span>
                                    </td>
                                    <td>{{row.matricola}}</td>
                                    <td>{{row.numeTip}}</td>
                                    <td>{{row.adresa}}</td>
                                    <td>{{row.descriere}}</td>
                                </tr>
                                <tr *ngIf="data.length == 0">
                                    <td colspan="5" class="text-center">Lipsă înregistrări</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                                (pageChange)="refreshData()">
                            </ngb-pagination>


                            <div class="form-group">
                                <label><strong>Nr înregistrări afișate:</strong> &nbsp;</label>
                                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="refreshData()">
                                    <option [ngValue]="5">5</option>
                                    <option [ngValue]="10">10</option>
                                    <option [ngValue]="20">20</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- please add here, the rest of the form + submit button -->
                    <div class="col-sm-12" *ngIf="search.loaded.length > 0">
                        <div class="row">
                            <div class="col-sm-4">
                                <mat-form-field class="example-full-width mt-2 mb-2">
                                    <mat-select matSelect [(ngModel)]="search.operatie"
                                         name="operatie" required placeholder="Operatie">
                                        <mat-option *ngFor="let row of matricoleOperatii" value="{{row.id}}">{{row.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field class="example-full-width mt-2 mb-2">
                                    <mat-select matSelect [(ngModel)]="search.scopcf"
                                         name="scopcf" required placeholder="Scop Certificat Fiscal">
                                        <mat-option *ngFor="let row of matricoleScopuriCF" value="{{row.id}}">{{row.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-4">
                                <mat-form-field class="example-full-width mt-2 mb-2">
                                    <mat-select matSelect [(ngModel)]="search.fara_patrimoniu"
                                         name="fara_patrimoniu" required placeholder="Fara lista patrimoniu">
                                        <mat-option *ngFor="let row of matricoleYesNo" value="{{row.id}}">{{row.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-4">
                                <mat-form-field class="example-full-width mt-2 mb-2">
                                    <textarea matInput [(ngModel)]="search.specificatii"
                                        placeholder="Specificatii"
                                        [errorStateMatcher]="matcher"
                                        matAutosizeMinRows="2" matAutosizeMaxRows="5"
                                        name="specificatii"></textarea>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-4">
                                <mat-form-field class="example-full-width mt-2 mb-2">
                                    <textarea matInput [(ngModel)]="search.alte_mentiuni"
                                        placeholder="Alte mentiuni"
                                        [errorStateMatcher]="matcher"
                                        matAutosizeMinRows="2" matAutosizeMaxRows="5"
                                        name="alte_mentiuni"></textarea>
                                </mat-form-field>
                            </div>

                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-lg btn-block btn-success">Generează Certificat Fiscal</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row pb-5" *ngIf="loadedMatricole == 0">
                    <div class="col-sm-12 d-flex flex-row justify-content-center text-center">
                        <div class="sk-chase mr-2">
                            <div class="sk-chase-dot"></div>
                            <div class="sk-chase-dot"></div>
                            <div class="sk-chase-dot"></div>
                            <div class="sk-chase-dot"></div>
                            <div class="sk-chase-dot"></div>
                            <div class="sk-chase-dot"></div>
                        </div>
                        <p class="">
                            <strong>
                                Vă rugăm așteptați. Se încarcă matricolele dumneavoastră.
                            </strong>
                        </p>
                    </div>

                </div>
            </div>

        </form>

    </div>
</div>