<div class="app-inner-layout">
	<section class="content">
		<div class="row">
			<div class="col-sm-2">
				<ul id="settings" class="sub-menu-wrap">
					<li class="sub-menu-item" [ngClass]="activeModule == 'sesizare-type-list' ? 'active' : ''"
						(click)="changeLocation('sesizare-type-list')">Tipuri Sesizari</li>
					<li class="sub-menu-item" [ngClass]="activeModule == 'sesizare-status-list' ? 'active' : ''"
						(click)="changeLocation('sesizare-status-list')">Statusuri Sesizari</li>
					<li class="sub-menu-item" [ngClass]="activeModule == 'sesizare-priority-list' ? 'active' : ''"
						(click)="changeLocation('sesizare-priority-list')">
						Prioritati Sesizari</li>
					<li class="sub-menu-item" [ngClass]="activeModule == 'sesizare-sabloane-list' ? 'active' : ''"
						(click)="changeLocation('sesizare-sabloane-list')">Sabloane Sesizari</li>
					<li class="sub-menu-item" [ngClass]="activeModule == 'institutii-list' ? 'active' : ''"
						(click)="changeLocation('institutii-list')">
						Institutii</li>
					<li class="sub-menu-item" [ngClass]="activeModule == 'departamente-institutii-list' ? 'active' : ''"
						(click)="changeLocation('departamente-institutii-list')">
						Departamente</li>
				</ul>
			</div>
			<div class="col-sm-10 p-3 bg-white">

				<tip-sesizare *ngIf="activeModule == 'sesizare-type-list'">
				</tip-sesizare>

				<status-sesizare *ngIf="activeModule == 'sesizare-status-list'">
				</status-sesizare>

				<prioritate-sesizare *ngIf="activeModule == 'sesizare-priority-list'">
				</prioritate-sesizare>

				<sabloane *ngIf="activeModule == 'sesizare-sabloane-list'">
				</sabloane>

				<institutii *ngIf="activeModule == 'institutii-list'">
				</institutii>

				<departamente-institutii *ngIf="activeModule == 'departamente-institutii-list'">
				</departamente-institutii>

			</div>
		</div>
	</section>
</div>