<div class="h-100 bg-primary bg-animation forgotPasswordPageClass">
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="mx-auto app-login-box col-md-6">
            <div class="logo text-center">
                <img src="/assets/images/logo.png" class="img-fluid example-full-width" />
            </div>
            <div class="modal-dialog w-100 ">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="h5 modal-title">
                            Recuperare parolă
                            <h6 class="mt-1 mb-0 opacity-8"><span>Pentru a recupera parola, vă rugăm să urmariți pașii
                                    de mai jos.</span></h6>
                        </div>
                    </div>
                    <div class="modal-body">
                        <mat-vertical-stepper orientation="vertical" [linear]="isLinear" #stepper="matVerticalStepper" [disableRipple]="disableRipple">
                            <mat-step [stepControl]="formEmail" [completed]="firstStepComplete" >
                                <form [formGroup]="formEmail">
                                    <ng-template matStepLabel>Pasul 1</ng-template>
                                    <p>Completati adresa de email</p>
                                    <mat-form-field class="example-full-width mt-2 mb-2">
                                        <input formControlName="email" matInput placeholder="Email"
                                            [errorStateMatcher]="matcher" type="email" required="required">

                                        <mat-error class="p-2"
                                            *ngIf="(email.dirty || email.touched) && email.errors?.required">
                                            <strong>Camp obligatoriu</strong>
                                        </mat-error>
                                        <mat-error class="p-2"
                                            *ngIf="(email.dirty || email.touched) && (email.errors?.email || email.errors?.pattern)">
                                            <strong>Email invalid</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <div>
                                        <button mat-button (click)="goForward(1)" class="float-right" [disabled]="!formEmail.valid">Urmatorul pas</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="formCode" [completed]="firstStepComplete">
                                <form [formGroup]="formCode">
                                    <ng-template matStepLabel>Pasul 2</ng-template>
                                    <p class="text-center">Introduceți codul primit prin SMS la numărul de telefon
                                        <strong>{{phone_no}} </strong>
                                    </p>
                                    <mat-form-field class="example-full-width mt-2 mb-2">
                                        <mat-label>Cod SMS</mat-label>
                                        <input matInput formControlName="code" />

                                        <mat-error class="p-2"
                                            *ngIf="(codeInput.dirty || codeInput.touched) && codeInput.errors?.required">
                                            <strong>Camp obligatoriu</strong>
                                        </mat-error>
                                        <mat-error class="p-2"
                                            *ngIf="(codeInput.dirty || codeInput.touched) && codeInput.errors?.minlength">
                                            <strong>Codul trebuie să conțină 5 cifre</strong>
                                        </mat-error>
                                        <mat-error class="p-2"
                                            *ngIf="(codeInput.dirty || codeInput.touched) && codeInput.errors?.maxlength">
                                            <strong>Codul trebuie să conțină 5 cifre</strong>
                                        </mat-error>
                                    </mat-form-field>

                                    <div class="divider"></div>
                                    <div>
                                        <p class="text-center red-text pointer" (click)="resendCode()">Nu ați primit codul ? Retrimitere SMS aici.</p>
                                        <p class="text-center primary-text">Codul de activare este valabil 1h.</p>
                                    </div>
                                    <div class="divider"></div>
                                    <div>
                                        <button mat-button (click)="goBack(2)" type="button">Inapoi</button>
                                        <button mat-button (click)="goForward(2)" type="button" class="float-right" [disabled]="!formCode.valid">Urmatorul pas</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="formPasswords" >
                                <form [formGroup]="formPasswords">
                                    <ng-template matStepLabel>Pasul 3</ng-template>
                                    <p>Introduceti parola dorita</p>
                                    <mat-form-field class="example-full-width mt-2 mb-2">
                                        <input formControlName="password" matInput placeholder="Parola"
                                            [errorStateMatcher]="matcher" required="required"
                                            [type]="hide ? 'password' : 'text'">

                                        <mat-icon matSuffix (click)="hide = !hide">
                                            {{hide ? 'visibility_off' : 'visibility'}}
                                        </mat-icon>

                                        <mat-error class="p-2"
                                            *ngIf="(password.dirty || password.touched) && password.errors?.required">
                                            <strong>Camp obligatoriu</strong>
                                        </mat-error>
                                        <mat-error class="p-2"
                                            *ngIf="(password.dirty || password.touched) && password.errors?.minlength">
                                            <strong>Minim 8 caractere</strong>
                                        </mat-error>

                                        <mat-error class="p-2"
                                            *ngIf="(password.dirty || password.touched) && password.errors?.maxlength">
                                            <strong>Max 50 caractere</strong>
                                        </mat-error>

                                    </mat-form-field>

                                    <mat-form-field class="example-full-width mt-2 mb-2">
                                        <input formControlName="password_confirmation" matInput
                                            placeholder="Confirmati parola" [errorStateMatcher]="matcher"
                                            required="required" [type]="hide_confirmation ? 'password' : 'text'">

                                        <mat-icon matSuffix (click)="hide_confirmation = !hide_confirmation">
                                            {{hide_confirmation ? 'visibility_off' : 'visibility'}}
                                        </mat-icon>

                                        <mat-error class="p-2"
                                            *ngIf="(passwordConfirmation.dirty || passwordConfirmation.touched) && passwordConfirmation.errors?.required">
                                            <strong>Camp obligatoriu</strong>
                                        </mat-error>
                                        <mat-error class="p-2"
                                            *ngIf="(passwordConfirmation.dirty || passwordConfirmation.touched) && passwordConfirmation.errors?.minlength">
                                            <strong>Minim 8 caractere</strong>
                                        </mat-error>

                                        <mat-error class="p-2"
                                            *ngIf="(passwordConfirmation.dirty || passwordConfirmation.touched) && passwordConfirmation.errors?.maxlength">
                                            <strong>Max 50 caractere</strong>
                                        </mat-error>

                                    </mat-form-field>

                                    <div>
                                        <button mat-button (click)="goForward(3)"  class="float-right" [disabled]="!formPasswords.valid">Urmatorul pas</button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="formPasswords.valid" [completed]="formPasswords.valid && successSteps">
                                <ng-template matStepLabel>Success</ng-template>
                                <h4 class="green-text">Parola actualizata cu succes</h4>
                            </mat-step>
                        </mat-vertical-stepper>
                    </div>
                    <div class="modal-footer clearfix">
                        <h6 class="mb-0">
                            <a routerLink="/auth/login" class="text-primary">Autentificare cont</a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="text-center text-white opacity-8 mt-3">
                {{env.config.copyrightText}}
            </div>
        </div>
    </div>
</div>

<div class="" *ngIf="loading">
    <ngx-loading [show]="loading"
        [config]="{backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.5)'}"
        [template]="loadingTemplate"></ngx-loading>
    <h4 class="loading-text">Vă rugăm așteptați!</h4>
</div>