<form>

    <div class="col-sm-12">
        <h5 *ngIf="tipPersoana == 'persoanaJuridica'" class="sub-section-title full-width">Număr metrii cubi gunoi</h5>
		<h5 *ngIf="tipPersoana == 'persoanaFizica'" class="sub-section-title full-width">Număr persoane</h5>
    </div>
    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.mc_gunoi.ian" name="ian" matInput placeholder="Ianuarie" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.mc_gunoi.feb" name="feb" matInput placeholder="Februarie" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.mc_gunoi.mar" name="mar" matInput placeholder="Martie" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.mc_gunoi.apr" name="apr" matInput placeholder="Aprilie" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.mc_gunoi.mai" name="mai" matInput placeholder="Mai" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.mc_gunoi.iun" name="iun" matInput placeholder="Iunie" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.mc_gunoi.iul" name="iul" matInput placeholder="Iulie" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.mc_gunoi.aug" name="aug" matInput placeholder="August" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.mc_gunoi.sep" name="sep" matInput placeholder="Septembrie" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.mc_gunoi.oct" name="oct" matInput placeholder="Octombrie" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.mc_gunoi.nov" name="nov" matInput placeholder="Noiembrie" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.mc_gunoi.dec" name="dec" matInput placeholder="Decembrie" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

</form>