<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">
  <div class="col-md-6">
    <div class="card main-card mb-3">
      <div class="card-header">
        Clipboard Example I
      </div>
      <div class="card-body">
        <p>
          Click this button, it will copy the text from the input by referring to the <strong>text content</strong>
        </p>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="text1" placeholder="content will be copied after click the copy button">
          <span class="input-group-append">
            <button class="btn btn-primary" type="button" ngxClipboard [cbContent]="text1"
              (cbOnSuccess)="isCopied1 = true" (cbOnError)="onCopyFailure()"
              [class.btn-success]="isCopied1">Copy</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card main-card mb-3">
      <div class="card-header">
        Clipboard Example II
      </div>
      <div class="card-body">
        <p>
          Click this button, it will copy the text from the input by referring to the <strong>input element</strong>
        </p>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="text2" placeholder="content will be copied after click the copy button" #inputTarget>
          <span class="input-group-append">
            <button class="btn btn-primary" type="button" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied2 = true"
              (cbOnError)="onCopyFailure()" [class.btn-success]="isCopied2">Copy</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>