<div class="row d-flex justify-content-between mb-3">
	<h5 class="ml-3">Prioritati Sesizari</h5>
	<button type='button' class="btn btn-sm btn-info mr-3" (click)="addPriority()">Adauga</button>
</div>
<table datatable class="row-border table-striped table-bordered hover w-100" [dtOptions]="dtOptions">
	<thead>
		<tr>
			<th>ID</th>
			<th>Prioritate</th>
			<th>Timp(ore)</th>
			<th>Actiuni</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of data">
			<td>{{ row.id_sesizare_priority }}</td>
			<td>
				<span class="little-label" [style.background-color]="row.color" [style.color]="row.textColor">{{
					row.name }}</span>
			</td>
			<td>{{ row.time }}</td>
			<td>
				<button type='button' class='edit-button btn btn-sm btn-warning'
					(click)='editPriority(row.id_sesizare_priority)'>
					<i class=' fa fa-edit'></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>