<div class="bg-primary min-h-100">
	<div class="d-flex justify-content-center align-items-center">
		<div class="mx-auto app-login-box col-md-8">
			<div class="logo text-center">
				<img src="/assets/images/logo.png" class="img-fluid example-full-width" />
			</div>
			<div class="modal-dialog w-100">
				<div class="modal-content">
					<div class="modal-body">
						<h5 class="modal-title">
							<h4 class="mt-2 text-center">Înregistrare cont nou - Primăria Sectorului 4</h4>
						</h5>
						<div class="divider"></div>
						<!-- add form -->
						<form [formGroup]="form" (ngSubmit)="store()" *ngIf="step == 0">

							<!-- nume -->
							<mat-form-field class="example-full-width mt-2 mb-2">
								<input formControlName="nume" matInput placeholder="Nume" [errorStateMatcher]="matcher"
									type="text" required="required">

								<mat-error class="p-2" *ngIf="(nume.dirty || nume.touched) && nume.errors?.required">
									<strong>Câmp obligatoriu</strong>
								</mat-error>
								<mat-error class="p-2" *ngIf="(nume.dirty || nume.touched) && nume.errors?.minlength">
									<strong>Minim 8 caractere</strong>
								</mat-error>

								<mat-error class="p-2" *ngIf="(nume.dirty || nume.touched) && nume.errors?.maxlength">
									<strong>Max 50 caractere</strong>
								</mat-error>
							</mat-form-field>

							<!-- prenume -->
							<mat-form-field class="example-full-width mt-2 mb-2">
								<input formControlName="prenume" matInput placeholder="Prenume"
									[errorStateMatcher]="matcher" type="text" required="required">

								<mat-error class="p-2" *ngIf="(nume.dirty || nume.touched) && nume.errors?.required">
									<strong>Câmp obligatoriu</strong>
								</mat-error>
								<mat-error class="p-2" *ngIf="(nume.dirty || nume.touched) && nume.errors?.minlength">
									<strong>Minim 8 caractere</strong>
								</mat-error>

								<mat-error class="p-2" *ngIf="(nume.dirty || nume.touched) && nume.errors?.maxlength">
									<strong>Max 50 caractere</strong>
								</mat-error>
							</mat-form-field>

							<!-- cnp / cui -->
							<mat-form-field class="example-full-width mt-2 mb-2">
								<input formControlName="cnp" matInput placeholder="CNP/CUI"
									[errorStateMatcher]="matcher" required="required" type='number'>

								<mat-icon matSuffix class="primary-text pointer" (click)="openInfo(content)">info
								</mat-icon>

								<mat-error class="p-2" *ngIf="(cnp.dirty || cnp.touched) && cnp.errors?.required">
									<strong>Câmp obligatoriu</strong>
								</mat-error>
								<mat-error class="p-2" *ngIf="(cnp.dirty || cnp.touched) && cnp.errors?.minlength">
									<strong>Minim 4 caractere</strong>
								</mat-error>

								<mat-error class="p-2" *ngIf="(cnp.dirty || cnp.touched) && cnp.errors?.maxlength">
									<strong>Max 13 caractere</strong>
								</mat-error>
							</mat-form-field>

							<!-- denumire firma -->
							<mat-form-field class="example-full-width mt-2 mb-2"
								*ngIf="form.value.cnp !== null && form.value.cnp.toString().length < 13 && form.value.cnp.toString().length > 3">
								<input formControlName="f_nume" matInput placeholder="Denumire Firma"
									[errorStateMatcher]="matcher" type="text">
							</mat-form-field>

							<!-- telefon -->
							<mat-form-field class="example-full-width mt-2 mb-2">
								<ngx-mat-intl-tel-input [preferredCountries]="['ro']" [cssClass]="'custom'"
									[enablePlaceholder]="true" name="telefon" formControlName="telefon" #phone
									require="required">
								</ngx-mat-intl-tel-input>
								<mat-hint class="p-2">ex: {{phone.selectedCountry.placeHolder}}</mat-hint>
								<mat-error class="p-2" *ngIf="form.controls['telefon']?.errors?.required">Câmp
									obligatoriu
								</mat-error>
								<mat-error class="p-2" *ngIf="form.controls['telefon']?.errors?.validatePhoneNumber">
									Număr telefon
									invalid</mat-error>
							</mat-form-field>

							<!-- email -->

							<mat-form-field class="example-full-width mt-2 mb-2">
								<input formControlName="email" matInput placeholder="Email"
									[errorStateMatcher]="matcher" type="email" required="required">

								<mat-error class="p-2" *ngIf="(email.dirty || email.touched) && email.errors?.required">
									<strong>Câmp obligatoriu</strong>
								</mat-error>
								<mat-error class="p-2"
									*ngIf="(email.dirty || email.touched) && (email.errors?.email || email.errors?.pattern)">
									<strong>Email invalid</strong>
								</mat-error>
							</mat-form-field>

							<!-- parole -->
							<mat-form-field class="example-full-width mt-2 mb-2">
								<input formControlName="password" matInput placeholder="Parola"
									[errorStateMatcher]="matcher" required="required"
									[type]="hide ? 'password' : 'text'">

								<mat-icon matSuffix (click)="hide = !hide">
									{{hide ? 'visibility_off' : 'visibility'}}
								</mat-icon>

								<mat-error class="p-2"
									*ngIf="(password.dirty || password.touched) && password.errors?.required">
									<strong>Câmp obligatoriu</strong>
								</mat-error>
								<mat-error class="p-2"
									*ngIf="(password.dirty || password.touched) && password.errors?.minlength">
									<strong>Minim 8 caractere</strong>
								</mat-error>

								<mat-error class="p-2"
									*ngIf="(password.dirty || password.touched) && password.errors?.maxlength">
									<strong>Max 50 caractere</strong>
								</mat-error>

							</mat-form-field>

							<!-- parole_confirm -->

							<mat-form-field class="example-full-width mt-2 mb-2">
								<input formControlName="password_confirmation" matInput placeholder="Confirmați parola"
									[errorStateMatcher]="matcher" required="required"
									[type]="hide_confirmation ? 'password' : 'text'">

								<mat-icon matSuffix (click)="hide_confirmation = !hide_confirmation">
									{{hide_confirmation ? 'visibility_off' : 'visibility'}}
								</mat-icon>

								<mat-error class="p-2"
									*ngIf="(passwordConfirmation.dirty || passwordConfirmation.touched) && passwordConfirmation.errors?.required">
									<strong>Câmp obligatoriu</strong>
								</mat-error>
								<mat-error class="p-2"
									*ngIf="(passwordConfirmation.dirty || passwordConfirmation.touched) && passwordConfirmation.errors?.minlength">
									<strong>Minim 8 caractere</strong>
								</mat-error>

								<mat-error class="p-2"
									*ngIf="(passwordConfirmation.dirty || passwordConfirmation.touched) && passwordConfirmation.errors?.maxlength">
									<strong>Max 50 caractere</strong>
								</mat-error>
							</mat-form-field>


							<!-- add files here -->
							<h5 class="mt-3"><strong>Fișiere/Documente</strong></h5>

							<!-- file wrapper -->
							<!-- file_ci wrapper -->
							<div class="file-upload-wrapper d-flex justify-content-between"
								[ngClass]="{'file-upload-wrapper-uploaded': form.value.file_ci !== ''}">
								<mat-label>Carte de Identitate <span class="red-text">*</span>
									<span *ngIf="form.value.file_ci_source !== '' && files.file_ci.length > 0">
										<strong> - {{ (files.file_ci[0].original_name.length > 20)?
											(files.file_ci[0].original_name |
											slice:0:20)+'..':(files.file_ci[0].original_name) }}</strong>
									</span>
								</mat-label>
								<button mat-raised-button id="upload-button-0" class="upload-button" type="button"
									*ngIf="form.value.file_ci_source === '' && !uploading.file_ci"
									(click)="fileCiInput.click()" color="accent">
									<mat-icon>cloud_upload</mat-icon>
									<span>ÎNCARCĂ</span>
								</button>
								<div class="upload-buttons-container"
									*ngIf="form.value.file_ci_source !== '' && !uploading.file_ci">
									<button mat-icon-button class="upload-icon-button" type="button"
										matTooltip="Încarcă un alt fișier" (click)="fileCiInput.click()">
										<mat-icon>cached</mat-icon>
									</button>
									<button mat-icon-button class="upload-icon-button upload-icon-button-2"
										type="button" matTooltip="Șterge fișierul încărcat"
										(click)="fileCiInput.value = ''; clearInputFile('file_ci')">
										<mat-icon>clear</mat-icon>
									</button>
								</div>
								<mat-spinner diameter="32" style="margin-right: 8px; margin-top: 4px"
									*ngIf="uploading.file_ci"></mat-spinner>

								<input type="file" accept="image/png, image/jpeg, image/gif, image/jpg, application/pdf"
									id="upload-file-input-0" #fileCiInput name="fileCiInput"
									(change)="upload($event.target.files, 'file_ci')" style="display: none">
							</div>

							<!-- file_cui wrapper -->
							<div class="file-upload-wrapper d-flex justify-content-between"
								[ngClass]="{'file-upload-wrapper-uploaded': form.value.file_cui !== ''}"
								*ngIf="form.value.cnp !== null && form.value.cnp.toString().length < 13 && form.value.cnp.toString().length > 3">
								<mat-label>CUI <span class="red-text">*</span>
									<span *ngIf="form.value.file_cui_source !== '' && files.file_cui.length > 0">
										<strong> - {{ (files.file_cui[0].original_name.length > 20)?
											(files.file_cui[0].original_name |
											slice:0:20)+'..':(files.file_cui[0].original_name) }}</strong>
									</span>
								</mat-label>
								<button mat-raised-button id="upload-button-0" class="upload-button" type="button"
									*ngIf="form.value.file_cui_source === '' && !uploading.file_cui"
									(click)="fileCuiInput.click()" color="accent">
									<mat-icon>cloud_upload</mat-icon>
									<span>ÎNCARCĂ</span>
								</button>
								<div class="upload-buttons-container"
									*ngIf="form.value.file_cui_source !== '' && !uploading.file_cui">
									<button mat-icon-button class="upload-icon-button" type="button"
										matTooltip="Încarcă un alt fișier" (click)="fileCuiInput.click()">
										<mat-icon>cached</mat-icon>
									</button>
									<button mat-icon-button class="upload-icon-button upload-icon-button-2"
										type="button" matTooltip="Șterge fișierul încărcat"
										(click)="fileCuiInput.value = ''; clearInputFile('file_cui')">
										<mat-icon>clear</mat-icon>
									</button>
								</div>
								<mat-spinner diameter="32" style="margin-right: 8px; margin-top: 4px"
									*ngIf="uploading.file_cui"></mat-spinner>

								<input type="file" accept="image/png, image/jpeg, image/gif, image/jpg, application/pdf"
									id="upload-file-input-0" #fileCuiInput name="fileCuiInput"
									(change)="upload($event.target.files, 'file_cui')" style="display: none">
							</div>

							<mat-checkbox formControlName="termeni_conditii" class="mt-2 mb-2 white-space termeni_conditii">
								Sunt de acord cu
								<a href="https://ps4.ro/contact-primarie/aplicatia-mobila-primaria-sector-4"
									target="_blank">termenii și condițiile de confidențialitate ale Primăriei
									Municipiului București Sector 4</a>
							</mat-checkbox>


							<button type="submit" [disabled]="!form.valid"
								class="mb-2 mr-2 btn-transition btn-block btn-lg btn btn-outline-primary">
								ÎNREGISTRARE CONT
							</button>

							<div class="divider"></div>

							<div class="w-100">
								<strong><small><span class="red-text">*</span> - Câmpuri obligatorii</small></strong>
								<br />
								<strong><small><i>Confirmarea contului se va face prin SMS către numărul de telefon
											menționat în formularul de mai sus</i></small></strong><br />
								<strong><small>Suport tehnic: <a
											href="https://www.mobilitateurbana4.ro/registratura-online/?d=6&t=20"
											target="_blank" class="primary-text">aici</a></small></strong>
							</div>
						</form>

						<!-- code form -->
						<form *ngIf="step == 1" [formGroup]="formCode" (ngSubmit)="confirmCode()">
							<p class="text-center">Introduceți codul primit prin SMS la numărul de telefon
								<strong>{{phone_no}} </strong>
							</p>
							<mat-form-field class="example-full-width mt-2 mb-2">
								<mat-label>Cod SMS</mat-label>
								<input matInput formControlName="code" />

								<mat-error class="p-2"
									*ngIf="(codeInput.dirty || codeInput.touched) && codeInput.errors?.required">
									<strong>Camp obligatoriu</strong>
								</mat-error>
								<mat-error class="p-2"
									*ngIf="(codeInput.dirty || codeInput.touched) && codeInput.errors?.minlength">
									<strong>Codul trebuie să conțină 5 cifre</strong>
								</mat-error>
								<mat-error class="p-2"
									*ngIf="(codeInput.dirty || codeInput.touched) && codeInput.errors?.maxlength">
									<strong>Codul trebuie să conțină 5 cifre</strong>
								</mat-error>
							</mat-form-field>

							<div class="divider"></div>
							<div>
								<p class="text-center red-text pointer" (click)="resendCode()">Nu ați primit codul ?
									Retrimitere SMS aici.</p>
								<p class="text-center primary-text">Codul de activare este valabil 1h.</p>
							</div>
							<div class="divider"></div>

							<button type="submit" [disabled]="!formCode.valid"
								class="mb-2 mr-2 btn-transition btn-block btn-lg btn btn-outline-primary">
								CONFIRMA COD
							</button>
						</form>

						<!-- success -->
						<div class="w-100" *ngIf="step == 2">
							<h4 class="green-text text">Contul Dumneavoastră a fost creat cu succes. Vă puteți
								autentifica folosind adresa de email înregistrată și parola aleasă.</h4>
							<h4 class="green-text text">
								Pentru a beneficia de toate funcționalitățile aplicației este necesară validarea de
								către un operator a documentului de identitate atașat la înregistrare. Termenul maxim de
								validare este de 24-48 ore.
							</h4>

						</div>

					</div>
					<div class="modal-footer d-block text-center">
						<h6 class="mb-0">
							Aveti deja cont?
							<a routerLink="/auth/login" class="text-primary">Autentificare</a>
							|
							<a routerLink="/auth/forgot" class="text-primary">Recuperare parolă</a>
						</h6>



					</div>
				</div>
			</div>
			<div class="text-center text-white opacity-8 mt-3">
				{{env.config.copyrightText}}
			</div>
		</div>
	</div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Atenție</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Câmpul CNP/CUI este opțional, însă este necesar pentru a putea beneficia de toate facilitățile
			aplicației(Secțiunea 'Plăți' - Taxe și Impozite, Taxa de parcare; Gestiunea Locului de parcare; Registratura
			online a Direcției Mobilitate Urbană Sector 4). Versiunea Full Acces este destinată Cetățenilor Sectorului
			4.</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="c('Close click')">Inchide</button>
	</div>
</ng-template>

<div class="" *ngIf="loading">
	<ngx-loading [show]="loading"
		[config]="{backdropBorderRadius: '3px', backdropBackgroundColour: 'rgba(0, 0, 0, 0.5)'}"
		[template]="loadingTemplate"></ngx-loading>
	<h4 class="loading-text">Vă rugăm așteptați!</h4>
</div>