<form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="w-100">
	<div class="form-group">
		<label for="name"><strong>Nume</strong></label>
		<input formControlName="name" type="text" name="name" class="form-control">
		<span class="text-danger pt-3"
			*ngIf="(addFormControl.name.touched || submitted) && addFormControl.name.errors?.required ">
			Numele este obligatoriu
		</span>
	</div>

	<div class="form-group d-flex flex-row justify-content-between">
		<button type="button" mat-button mat-dialog-close class="btn btn-warning" (click)="cancel()">Inchide</button>
		<button type="submit" mat-button class="btn btn-success">Salveaza</button>
	</div>
</form>