<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHoverMouseIn()"
	(mouseout)="sidebarHoverMouseOut()">
	<div class="app-header__logo bg-light">
		<div>
			<strong>DOC APP</strong>
		</div>
		<div class="header__pane ml-auto">
			<button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
				[ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar();">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
		</div>
	</div>
	<div class="app-sidebar-content">
		<div class="app-sidebar-scroll skin-blue">
			<perfect-scrollbar [autoPropagation]="true" class="scroll-container bg-light" [config]="config"
				[scrollIndicators]="true" style="max-width: 600px;">
				<div class="v-sidebar-menu vsm-default">
					<div class="vsm-list">
						<ul class="p-0 m-0 main-list list-unstyled">

							<li class="mt-3">
								<a routerLink="/appointments" routerLinkActive="active-item" class="vsm-link">
									<i class="vsm-icon fa fa-calendar-check-o fa-fw"></i> <span
										class="vsm-title">Programări</span>
								</a>
							</li>

							<li class="mt-3">
								<a routerLink="/notifications" routerLinkActive="active-item" class="vsm-link">
									<i class="vsm-icon fa fa-envelope-o fa-fw"></i> <span
										class="vsm-title">Notificări</span>
								</a>
							</li>

							<li class="mt-3">
								<a routerLink="/reviews" routerLinkActive="active-item" class="vsm-link">
									<i class="vsm-icon fa fa-star-o fa-fw"></i> <span
										class="vsm-title">Review-uri</span>
								</a>
							</li>

							<li class="mt-3">
								<a routerLink="/settings" routerLinkActive="active-item" class="vsm-link">
									<i class="vsm-icon fa fa-cogs fa-fw"></i> <span class="vsm-title">Setări</span>
								</a>
							</li>

							<li class="mt-3">
								<a (click)="logout()" routerLink="/auth/login" class="vsm-link"
									routerLinkActive="active-item" class="vsm-link">
									<i class="vsm-icon fa fa-sign-out fa-fw"></i> <span
										class="vsm-title">Deconectare</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</perfect-scrollbar>
		</div>
	</div>
</div>