<div class="app-inner-layout">
    <div class="app-inner-layout__header bg-heavy-rain">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="vsm-icon pe-7s-copy-file icon-gradient bg-mixed-hopes"></i>
                    </div>
                    <div>
                        Vizualizare Solicitarea - {{solicitare.reg_numar}} / {{solicitare.created}}
                        <div class="page-title-subheading">
                            Registratura Online Directia Generala de Impozite si Taxe Sector 4
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                </div>
            </div>
        </div>
    </div>

    <div class="row w-100 mt-5">
        <div class="col-sm-12 ">
            <div class="row">
                <div class="col-sm-12 white-bg p-5" *ngIf="loaded == 1">
                    <div class="row">
                        <div class="col-sm-12 mb-5">
                            <button class="btn-transition btn btn-sm btn btn-outline-primary float-left" type="button"
                                routerLink="/dgitl-solicitari" routerLinkActive="active-item">
                                <i class="fa fa-fw fa-arrow-left"></i> INAPOI
                            </button>
                        </div>

                        <div class="col-sm-12 mb-5">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <h4 class="border-bottom">Informatii Solicitare</h4>
                                    <ul class="list-group p-0">
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span><strong>Tip Solicitare</strong></span>
                                            <span>{{ solicitare.subject }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span><strong>Cetatean</strong></span>
                                            <span>{{ solicitare.full_name }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span><strong>Status</strong></span>
                                            <span class="badge "
                                                style="background-color: {{solicitare.status_color}};color: {{solicitare.status_bgColor}}">{{solicitare.status_msg}}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span><strong>Data creat</strong></span>
                                            <span>{{ solicitare.created }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between">
                                            <span><strong>Ultima actualizare</strong></span>
                                            <span>{{ solicitare.updated }}</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <h4 class="border-bottom">Trimite Mesaj</h4>
                                    <form [formGroup]="form" (ngSubmit)="sendMessage()" class="mb-5">
                                        <!-- nume -->
                                        <mat-form-field class="example-full-width mt-2 mb-2">
                                            <textarea formControlName="content" matInput placeholder="Observatii"
                                                [errorStateMatcher]="matcher" type="text" required="required"
                                                rows="5"></textarea>

                                            <mat-error class="p-2"
                                                *ngIf="(content.dirty || content.touched) && content.errors?.required">
                                                <strong>Câmp obligatoriu</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <!-- file wrapper -->
                                        <!-- documents wrapper -->
                                        <div class="file-upload-wrapper d-flex justify-content-between"
                                            [ngClass]="{'file-upload-wrapper-uploaded': form.value.documents !== ''}">
                                            <mat-label>Documente/Fotografii
                                                <span
                                                    *ngIf="form.value.documents_source !== '' && files.documents.length > 0">
                                                    <strong> - {{ (files.documents[0].original_name.length > 20)?
                                                        (files.documents[0].original_name |
                                                        slice:0:20)+'..':(files.documents[0].original_name) }}</strong>
                                                </span>
                                            </mat-label>
                                            <button mat-raised-button id="upload-button-0" class="upload-button"
                                                type="button"
                                                *ngIf="form.value.documents_source === '' && !uploading.documents"
                                                (click)="fileDocuments.click()" color="accent">
                                                <mat-icon>cloud_upload</mat-icon>
                                                <span>ÎNCARCĂ</span>
                                            </button>
                                            <div class="upload-buttons-container"
                                                *ngIf="form.value.documents_source !== '' && !uploading.documents">
                                                <button mat-icon-button class="upload-icon-button" type="button"
                                                    matTooltip="Încarcă un alt fișier" (click)="fileDocuments.click()">
                                                    <mat-icon>cached</mat-icon>
                                                </button>
                                                <button mat-icon-button class="upload-icon-button upload-icon-button-2"
                                                    type="button" matTooltip="Șterge fișierul încărcat"
                                                    (click)="fileDocuments.value = ''; clearInputFile('documents')">
                                                    <mat-icon>clear</mat-icon>
                                                </button>
                                            </div>
                                            <mat-spinner diameter="32" style="margin-right: 8px; margin-top: 4px"
                                                *ngIf="uploading.documents"></mat-spinner>

                                            <input type="file"
                                                accept="image/png, image/jpeg, image/gif, image/jpg, application/pdf"
                                                id="upload-file-input-0" #fileDocuments name="fileDocuments"
                                                (change)="upload($event.target.files, 'documents')"
                                                style="display: none">
                                        </div>

                                        <button type="submit" [disabled]="!form.valid"
                                            class="mb-2 mr-2 btn-transition btn-block btn-lg btn btn-outline-primary">
                                            TRIMITE
                                        </button>

                                    </form>

                                    <div class="divider"></div>

                                    <h4 class="border-bottom mb-5">Istoric Mesaje</h4>

                                    <div class="chat-wrapper">
                                        <div class='chat-object mb-3'
                                            [ngClass]="{'cetatean': row.type == 0, 'operator': row.type == 1}"
                                            *ngFor="let row of istoric">
                                                <div class="col-sm-8"
                                                    [ngClass]="{'float-left text-left': row.type == 1, 'float-right text-right': row.type == 0}">
                                                    <div [innerHTML]="row.content"></div>
                                                    <ul class="clean-list">
                                                        <li *ngIf="row.documente.length > 0"><strong>Documente/fotografii</strong></li>
                                                        <li *ngFor="let document of row.documente; let i = index" class="blue-color blue-text">
                                                           <span (click)="downloadFile(document.id)">{{ i + 1 }}.  <u>{{document.name}}</u></span>
                                                        </li>
                                                    </ul>
                                                    <small
                                                        [ngClass]="{'text-left': row.type == 0, 'text-right': row.type == 1}">{{row.created}}</small>
                                                </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>