<form>

    <div class="row" *ngFor="let row of values.informatii.tip_taxa; let i = index">
        <div class="col-sm-12">
            <h5 class="full-width sub-section-title">Taxe #{{i + 1}}</h5>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <mat-select matSelect [(ngModel)]="row.tip_taxa" placeholder="Tip Taxa" name="tip_taxa">
                    <mat-option value="{{val.id}}" *ngFor="let val of records">{{val.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2" appearance="fill">
                <mat-label>Data inceput</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="row.data_inceput" name="data_inceput_{{i}}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2" appearance="fill">
                <mat-label>Data sfarsit</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="row.data_sfarsit" name="data_sfarsit_{{i}}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="row.suprafata" name="suprafata" matInput placeholder="Suprafață (mp2)" [errorStateMatcher]="matcher"
                    type="number">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <textarea [(ngModel)]="row.observatii" name="observatii" matInput placeholder="Observații"
                    [errorStateMatcher]="matcher" matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>

        <div class="col-sm-12">
            <button type="button" (click)="removeRow(i)"
                class="mb-2 mr-2 btn-transition float-right btn-lg btn btn-outline-danger">
                STERGE
            </button>
        </div>

    </div>

    <!-- add button please -->
    <!-- <div class="col-sm-12"> -->
        <button type="button" (click)="addNewRow()"
            class="mb-2 mr-2 btn-transition float-right btn-lg btn btn-outline-primary">
            ADAUGA
        </button>
    <!-- </div> -->

</form>