<form>
    <div class="row" *ngIf="metoda_restituirii == 2">
        <div class="col-sm-12">
            <h5 class="full-width sub-section-title">Mandat poștal la adresă</h5>    
        </div>
        
        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="values.adresa_scutire.strada" name="strada" matInput placeholder="Strada" [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="values.adresa_scutire.numar" name="numar" matInput placeholder="Nr" [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="values.adresa_scutire.bloc" name="bloc" matInput placeholder="Bl" [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="values.adresa_scutire.scara" name="scara" matInput placeholder="Sc" [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="values.adresa_scutire.etaj" name="strada" matInput placeholder="Etaj" [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="values.adresa_scutire.apartament" name="apartament" matInput placeholder="Ap" [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>
        
        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <textarea [(ngModel)]="values.adresa_scutire.observatii" name="observatii" matInput placeholder="Observații adresă"
                    [errorStateMatcher]="matcher" matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div class="row" *ngIf="metoda_restituirii == 3">
        <div class="col-sm-12">
            <h5 class="sub-section-title">Ordin de plată</h5>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="values.banca.iban" name="iban" matInput placeholder="Cont IBAN " [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="values.banca.banca" name="banca" matInput placeholder="Banca" [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <input [(ngModel)]="values.banca.sucursala" name="sucursala" matInput placeholder="Sucursala" [errorStateMatcher]="matcher"
                    type="text">
            </mat-form-field>
        </div>

        <div class="col-6 col-lg-3">
            <mat-form-field class="example-full-width mt-2 mb-2">
                <textarea [(ngModel)]="values.banca.observatii" name="observatii" matInput placeholder="Observații"
                    [errorStateMatcher]="matcher" matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>

    </div>
</form>