<form *ngIf="tipPersoana == 'persoanaFizica'" class="row">
    <div class="col-sm-12">
        <h5 class="full-width sub-section-title">Date beneficiar Persoana Fizica</h5>
    </div>
    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_nume" name="pf_nume" matInput placeholder="Nume" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_prenume" name="pf_prenume" matInput placeholder="Prenume" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_email" name="pf_email" matInput placeholder="Email" [errorStateMatcher]="matcher"
                type="email">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_telefon" name="pf_telefon" matInput placeholder="Telefon" [errorStateMatcher]="matcher"
                type="tel">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_cnp" name="pf_cnp" matInput placeholder="CNP" [errorStateMatcher]="matcher"
                type="number">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_ci_serie" name="pf_ci_serie" matInput placeholder="CI Serie "
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_ci_numar" name="pf_ci_numar" matInput placeholder="CI Număr"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <mat-select matSelect [((ngModel))]="pf_judet" placeholder="Judet" name="pf_judet">
                <mat-option value="{{val.id}}" *ngFor="let val of judete">{{val.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_oras" name="pf_oras" matInput placeholder="Oras/Municipiu/Comuna"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <mat-select matSelect [((ngModel))]="values.beneficiar.pf_sector" placeholder="Sector" name="pf_sector">
                <mat-option value="{{val.id}}" *ngFor="let val of sectoare">{{val.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_strada" name="pf_strada" matInput placeholder="Strada" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_numar" name="pf_numar" matInput placeholder="Nr." [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_scara" name="pf_scara" matInput placeholder="Sc" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_etaj" name="pf_etaj" matInput placeholder="Etaj" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pf_apartament" name="pf_apartament" matInput placeholder="Ap"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <textarea [(ngModel)]="values.beneficiar.pf_observatii" name="pf_observatii" matInput placeholder="Observații"
                [errorStateMatcher]="matcher" matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
    </div>

</form>

<form *ngIf="tipPersoana == 'persoanaJuridica'" class="row">
    <div class="col-sm-12">
        <h5 class="sub-section-title">Date Beneficiar Persona Juridica</h5>
    </div>

    <div class="col-sm-12">
        <h6 class="sub-section-title">Identificare Persoana Juridica</h6>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_sediu_denumire" name="pj_sediu_denumire" matInput placeholder="Denumire"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_sediu_cui" name="pj_sediu_cui" matInput placeholder="CUI" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_sediu_email" name="pj_sediu_email" matInput placeholder="Email"
                [errorStateMatcher]="matcher" type="email">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_sediu_telefon" name="pj_sediu_telefon" matInput placeholder="Telefon"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_sediu_telefon" name="pj_sediu_telefon" matInput placeholder="Telefon"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <mat-select matSelect [((ngModel))]="pj_judet" placeholder="Judet" name="pj_judet">
                <mat-option value="{{val.id}}" *ngFor="let val of judete">{{val.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_oras" name="pj_oras" matInput placeholder="Oras/Municipiu/Comuna"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <mat-select matSelect [((ngModel))]="values.beneficiar.pj_sector" placeholder="Sector" name="pj_sector">
                <mat-option value="{{val.id}}" *ngFor="let val of sectoare">{{val.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_strada" name="pj_strada" matInput placeholder="Strada" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_numar" name="pj_numar" matInput placeholder="Nr." [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_scara" name="pj_scara" matInput placeholder="Sc" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_etaj" name="pj_etaj" matInput placeholder="Etaj" [errorStateMatcher]="matcher"
                type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_apartament" name="pj_apartament" matInput placeholder="Ap"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-sm-12">
        <h6 class="sub-section-title">Identificare Imputernicit/Reprezentant</h6>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_nume" name="pj_reprezentant_nume" matInput placeholder="Nume"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_prenume" name="pj_reprezentant_prenume" matInput placeholder="Prenume"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_email" name="pj_reprezentant_email" matInput placeholder="Email"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_telefon" name="pj_reprezentant_telefon" matInput placeholder="Telefon"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_cnp" name="pj_reprezentant_cnp" matInput placeholder="CNP"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_ci_serie" name="pj_reprezentant_ci_serie" matInput placeholder="CI Serie"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_ci_numar" name="pj_reprezentant_ci_numar" matInput placeholder="CI Numar"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <mat-select matSelect [((ngModel))]="pj_reprezentant_judet" placeholder="Judet" name="pj_reprezentant_judet">
                <mat-option value="{{val.id}}" *ngFor="let val of judete">{{val.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_oras" name="pj_reprezentant_oras" matInput
                placeholder="Oras/Municipiu/Comuna" [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <mat-select matSelect [((ngModel))]="pj_reprezentant_sector" placeholder="Sector"
                name="pj_reprezentant_sector">
                <mat-option value="{{val.id}}" *ngFor="let val of sectoare">{{val.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_strada" name="pj_reprezentant_strada" matInput placeholder="Strada"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_numar" name="pj_reprezentant_numar" matInput placeholder="Nr."
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_scara" name="pj_reprezentant_scara" matInput placeholder="Sc"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_etaj" name="pj_reprezentant_etaj" matInput placeholder="Etaj"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-4 col-lg-2">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <input [(ngModel)]="values.beneficiar.pj_reprezentant_apartament" name="pj_reprezentant_apartament" matInput placeholder="Ap"
                [errorStateMatcher]="matcher" type="text">
        </mat-form-field>
    </div>

    <div class="col-6 col-lg-3">
        <mat-form-field class="example-full-width mt-2 mb-2">
            <textarea [(ngModel)]="values.beneficiar.pj_reprezentant_observatii" name="pj_reprezentant_observatii" matInput
                placeholder="Observații" [errorStateMatcher]="matcher" matAutosizeMinRows="2"
                matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
    </div>


</form>