<div class="app-inner-layout">
    <div class="app-inner-layout__header bg-heavy-rain">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-home icon-gradient bg-mixed-hopes"></i>
                    </div>
                    <div>
                        Bine ai venit, {{user.prenume}}!
                        <div class="page-title-subheading">
                            În cadrul acestui portal puteți să vă gestionați solicitările din cadrul Registraturii
                            Online a Direcției Generale de Impozite și Taxe Sector 4
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100 mt-5">
        <div class="col-sm-12 p-5">
            <div class="row">
                <div class="col-sm-3 d-flex justify-content-center ">
                    <div class="custom-button-full bg-primary pointer" routerLink="/dgitl-solicitari"
                        routerLinkActive="active-item">
                        <i class="vsm-icon pe-7s-copy-file"></i>
                        <p>Solicitările mele</p>
                    </div>
                </div>

                <div class="col-sm-3 d-flex justify-content-center ">
                    <div class="custom-button-full bg-primary pointer" routerLink="/plati"
                        routerLinkActive="active-item">
                        <i class="vsm-icon pe-7s-wallet"></i>
                        <p>Plăți Impozite și Taxe</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>